In [1]:
import pandas as pd 
file_path = "C://Users/Emerson Wu Li/Desktop/longevity/ghe2021_deaths_bycountry_2021.xlsx"
df_cleaned = pd.read_excel(file_path, sheet_name ='All ages')
df_cleaned

,Unnamed: 0,Unnamed: 1,Unnamed: 2,World Health Organization,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191
0,NaN,NaN,NaN,Department of Data and Analytics,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,June 2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,"Estimated Deaths ('000) by cause, sex",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,"and country or area (1), 2021",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Females,1600,NaN,B.,Intentional injuries,NaN,NaN,9.916407,0.061844,0.469371,...,2.148415,14.738475,0.235922,1.134566,0.011688,1.56987,2.409815,5.199628,0.598713,1.347765
656,Females,1610,NaN,NaN,1.,Self-harm,NaN,0.468013,0.033488,0.292348,...,0.867917,10.940482,0.184239,1.02886,0.009999,0.288293,2.191391,0.519942,0.305468,0.97061
657,Females,1620,NaN,NaN,2.,Interpersonal violence,NaN,0.655391,0.027912,0.172009,...,1.270494,3.741553,0.051682,0.10565,0.001684,1.271864,0.217677,0.924332,0.290514,0.372344
658,Females,1630,NaN,NaN,3.,Collective violence and legal intervention,NaN,8.793004,0.000444,0.005015,...,0.010004,0.05644,0.000001,0.000056,0.000005,0.009713,0.000747,3.755354,0.002731,0.004811
659,Females,1700,NaN,C.,Other COVID-19 pandemic-related outcomes,NaN,NaN,4.420603,1.003015,1.744299,...,2.08876,0,0,2.368475,0.022272,1.643896,2.867104,2.762699,1.369156,1.891869

In [2]:
# Dropping all the unecessary rows(with NaNs values)
rows_to_drop = [0, 1, 2, 3, 4]
df_cleaned = df_cleaned.drop(rows_to_drop)

# To leave the countries row into the first row
df_cleaned = df_cleaned.dropna(how ='all')
df_cleaned

,Unnamed: 0,Unnamed: 1,Unnamed: 2,World Health Organization,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191
5,Sex,GHE code,NaN,GHE cause,NaN,NaN,Country or area\n(See Notes for explanation of...,Afghanistan,Albania,Algeria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
6,NaN,NaN,NaN,NaN,NaN,NaN,ISO-3 Code,AFG,ALB,DZA,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,...,4,1,2,2,4,1,4,4,4,4
8,Persons,NaN,NaN,Population ('000) (2),NaN,NaN,NaN,40000.411,2849.643,44761.101,...,62830.413,340161.442,3396.693,34243.696,305.883,28237.831,98935.101,37140.234,19603.61,15797.22
9,Persons,0,NaN,All Causes,NaN,NaN,NaN,340.540179,33.73259,219.148912,...,371.484156,3439.877906,40.700578,216.753397,2.226291,226.308117,706.359351,224.43684,139.396538,153.20061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Females,1600,NaN,B.,Intentional injuries,NaN,NaN,9.916407,0.061844,0.469371,...,2.148415,14.738475,0.235922,1.134566,0.011688,1.56987,2.409815,5.199628,0.598713,1.347765
656,Females,1610,NaN,NaN,1.,Self-harm,NaN,0.468013,0.033488,0.292348,...,0.867917,10.940482,0.184239,1.02886,0.009999,0.288293,2.191391,0.519942,0.305468,0.97061
657,Females,1620,NaN,NaN,2.,Interpersonal violence,NaN,0.655391,0.027912,0.172009,...,1.270494,3.741553,0.051682,0.10565,0.001684,1.271864,0.217677,0.924332,0.290514,0.372344
658,Females,1630,NaN,NaN,3.,Collective violence and legal intervention,NaN,8.793004,0.000444,0.005015,...,0.010004,0.05644,0.000001,0.000056,0.000005,0.009713,0.000747,3.755354,0.002731,0.004811
659,Females,1700,NaN,C.,Other COVID-19 pandemic-related outcomes,NaN,NaN,4.420603,1.003015,1.744299,...,2.08876,0,0,2.368475,0.022272,1.643896,2.867104,2.762699,1.369156,1.891869

In [3]:
# Setting the first row as the column name, and then dropping it 
new_column_names = df_cleaned.iloc[0]
df_cleaned.columns = new_column_names
df_cleaned = df_cleaned[1:]

df_cleaned

5,Sex,GHE code,NaN,GHE cause,NaN,NaN,Country or area\n(See Notes for explanation of colour codes),Afghanistan,Albania,Algeria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
6,NaN,NaN,NaN,NaN,NaN,NaN,ISO-3 Code,AFG,ALB,DZA,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,...,4,1,2,2,4,1,4,4,4,4
8,Persons,NaN,NaN,Population ('000) (2),NaN,NaN,NaN,40000.411,2849.643,44761.101,...,62830.413,340161.442,3396.693,34243.696,305.883,28237.831,98935.101,37140.234,19603.61,15797.22
9,Persons,0,NaN,All Causes,NaN,NaN,NaN,340.540179,33.73259,219.148912,...,371.484156,3439.877906,40.700578,216.753397,2.226291,226.308117,706.359351,224.43684,139.396538,153.20061
10,Persons,10,I.,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,133.053487,7.839715,37.600446,...,190.854829,569.585049,8.941138,26.764969,0.393716,36.103563,87.492918,77.388358,82.075301,75.648597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Females,1600,NaN,B.,Intentional injuries,NaN,NaN,9.916407,0.061844,0.469371,...,2.148415,14.738475,0.235922,1.134566,0.011688,1.56987,2.409815,5.199628,0.598713,1.347765
656,Females,1610,NaN,NaN,1.,Self-harm,NaN,0.468013,0.033488,0.292348,...,0.867917,10.940482,0.184239,1.02886,0.009999,0.288293,2.191391,0.519942,0.305468,0.97061
657,Females,1620,NaN,NaN,2.,Interpersonal violence,NaN,0.655391,0.027912,0.172009,...,1.270494,3.741553,0.051682,0.10565,0.001684,1.271864,0.217677,0.924332,0.290514,0.372344
658,Females,1630,NaN,NaN,3.,Collective violence and legal intervention,NaN,8.793004,0.000444,0.005015,...,0.010004,0.05644,0.000001,0.000056,0.000005,0.009713,0.000747,3.755354,0.002731,0.004811
659,Females,1700,NaN,C.,Other COVID-19 pandemic-related outcomes,NaN,NaN,4.420603,1.003015,1.744299,...,2.08876,0,0,2.368475,0.022272,1.643896,2.867104,2.762699,1.369156,1.891869

In [4]:
# Creating a new Data Frame to acess all the country code and country name later
country_names = df_cleaned.iloc[6]
country_names = country_names.reset_index()

# Renaming the columns for better understanding
new_column_name = {
    5 : 'Country',
    12 : 'Column'
}
country_names = country_names.rename(columns = new_column_name)
country_names

                                Country     Column
0                                   Sex    Persons
1                              GHE code         30
2                                   NaN        NaN
3                             GHE cause        NaN
4                                   NaN         1.
..                                  ...        ...
187  Venezuela (Bolivarian Republic of)   1.020534
188                            Viet Nam  10.880007
189                               Yemen     3.4759
190                              Zambia   7.918207
191                            Zimbabwe   7.644066

[192 rows x 2 columns]

In [5]:
import itertools
# Getting the 8th row, which is the start of the country values
country_names = country_names.iloc[7:]
country_names = country_names.drop(columns = 'Column')

# Getting a list of the countries names for later cleaning process
list_of_country_names = country_names.values.tolist()
list_of_country_names = list(itertools.chain.from_iterable(list_of_country_names))
country_names

                                Country
7                           Afghanistan
8                               Albania
9                               Algeria
10                               Angola
11                  Antigua and Barbuda
..                                  ...
187  Venezuela (Bolivarian Republic of)
188                            Viet Nam
189                               Yemen
190                              Zambia
191                            Zimbabwe

[185 rows x 1 columns]

In [6]:
# Now getting the Data Frame for the country code
iso_code = df_cleaned.iloc[0].values[7:]
iso_code = pd.DataFrame(iso_code, columns = ['Country_code'])

# Combining them into one Data Frame
countries = country_names.copy()
countries = countries.reset_index().drop(columns = 'index')
countries['Country_code'] = iso_code['Country_code']
countries

                                Country Country_code
0                           Afghanistan          AFG
1                               Albania          ALB
2                               Algeria          DZA
3                                Angola          AGO
4                   Antigua and Barbuda          ATG
..                                  ...          ...
180  Venezuela (Bolivarian Republic of)          VEN
181                            Viet Nam          VNM
182                               Yemen          YEM
183                              Zambia          ZMB
184                            Zimbabwe          ZWE

[185 rows x 2 columns]

#### I want to organize each category into its respective sub-categories, types, and death causes. Since these elements are currently spread across different columns and rows, I will consolidate them into a single DataFrame

In [7]:
# Showing how they are spread across in the main Data Frame
df_cleaned.head(30)

5,Sex,GHE code,NaN,GHE cause,NaN,NaN,Country or area\n(See Notes for explanation of colour codes),Afghanistan,Albania,Algeria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
6,NaN,NaN,NaN,NaN,NaN,NaN,ISO-3 Code,AFG,ALB,DZA,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,...,4,1,2,2,4,1,4,4,4,4
8,Persons,NaN,NaN,Population ('000) (2),NaN,NaN,NaN,40000.411,2849.643,44761.101,...,62830.413,340161.442,3396.693,34243.696,305.883,28237.831,98935.101,37140.234,19603.61,15797.22
9,Persons,0,NaN,All Causes,NaN,NaN,NaN,340.540179,33.73259,219.148912,...,371.484156,3439.877906,40.700578,216.753397,2.226291,226.308117,706.359351,224.43684,139.396538,153.20061
10,Persons,10,I.,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,133.053487,7.839715,37.600446,...,190.854829,569.585049,8.941138,26.764969,0.393716,36.103563,87.492918,77.388358,82.075301,75.648597
11,Persons,20,NaN,A.,Infectious and parasitic diseases,NaN,NaN,34.83023,0.085898,4.988549,...,106.566095,71.186615,1.002695,4.575562,0.078524,6.578291,22.10479,16.369677,46.569052,37.110258
12,Persons,30,NaN,NaN,1.,Tuberculosis,NaN,10.028476,0.009809,2.683457,...,25.49627,0.630697,0.082716,2.407126,0.018801,1.020534,10.880007,3.4759,7.918207,7.644066
13,Persons,40,NaN,NaN,2.,STDs excluding HIV,NaN,0.589881,0.001173,0.144769,...,2.347798,0.178962,0.004684,0.009838,0.003871,0.039396,0.216207,0.270917,1.055811,0.286017
14,Persons,50,NaN,NaN,NaN,a.,Syphilis,0.585436,0.000788,0.141197,...,2.273078,0.04127,0.002361,0.003165,0.003823,0.021233,0.212478,0.268544,1.02049,0.264601
15,Persons,60,NaN,NaN,NaN,b.,Chlamydia,0.000911,0.000078,0.000731,...,0.018875,0,0,0.001438,0.000008,0.003875,0.000791,0.000469,0.009163,0.004592
16,Persons,70,NaN,NaN,NaN,c.,Gonorrhoea,0.000482,0.000034,0.000408,...,0.008036,0.00315,0,0.000598,0.000008,0.001655,0.000338,0.00029,0.003605,0.002596
17,Persons,80,NaN,NaN,NaN,d.,Trichomoniasis,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Persons,85,NaN,NaN,NaN,e.,Gential Herpes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Persons,90,NaN,NaN,NaN,f.,Other STDs,0.003052,0.000273,0.002435,...,0.047809,0.134542,0.002323,0.004637,0.000032,0.012633,0.0026,0.001613,0.022554,0.014228
20,Persons,100,NaN,NaN,3.,HIV/AIDS,NaN,0.752318,0.017278,0.365365,...,24.197372,5.120678,0.198985,1.016709,0,1.763477,4.305748,0.366543,20.281445,20.523124
21,Persons,110,NaN,NaN,4.,Diarrhoeal diseases,NaN,2.902028,0.01221,0.864135,...,19.334488,7.339353,0.110668,0.299436,0.041575,1.590289,2.9113,5.140917,4.900378,4.958379
22,Persons,120,NaN,NaN,5.,Childhood-cluster diseases,NaN,15.489719,0.004494,0.065048,...,1.316235,0.00695,0.00003,0.002063,0.00308,0.008803,0.193622,1.515713,0.496969,0.094041
23,Persons,130,NaN,NaN,NaN,a.,Whooping cough,0.689907,0.000009,0.046769,...,0.96852,0.004199,0.00003,0.000015,0.000539,0.001709,0.05469,1.260348,0.395937,0.049952
24,Persons,140,NaN,NaN,NaN,b.,Diphtheria,0.042385,0.000008,0.000595,...,0.019462,0.000686,0.0,0.000006,0.000039,0.000009,0.003109,0.021912,0.006151,0.00511
25,Persons,150,NaN,NaN,NaN,c.,Measles,14.438231,0.001966,0.005136,...,0.096514,0,0,0.001559,0.001078,0,0.004753,0.069948,0.013048,0.00137
26,Persons,160,NaN,NaN,NaN,d.,Tetanus,0.319196,0.002511,0.012548,...,0.23174,0.002065,0,0.000483,0.001424,0.007085,0.13107,0.163505,0.081833,0.037609
27,Persons,170,NaN,NaN,6.,Meningitis,NaN,1.549654,0.006179,0.278583,...,4.208918,0.574673,0.010237,0.136499,0.005253,0.400873,0.520965,0.715809,1.781229,1.417203
28,Persons,180,NaN,NaN,7.,Encephalitis,NaN,0.122783,0.0154,0.132831,...,0.425023,0.04142,0.002126,0.368714,0.000095,0.155065,1.368326,0.24747,0.172913,0.110552
29,Persons,185,NaN,NaN,8.,Hepatitis,NaN,1.933228,0.000877,0.189677,...,0.529979,4.532295,0.016865,0.08092,0.000848,0.02057,0.323224,0.833097,0.224685,0.306918
30,Persons,186,NaN,NaN,NaN,a.,Acute hepatitis A,0.697902,0.000121,0.01766,...,0.159495,0.918954,0.003764,0.020346,0.000359,0.011461,0.096509,0.279429,0.051933,0.09405
31,Persons,190,NaN,NaN,NaN,b.,Acute hepatitis B,1.173149,0.000634,0.166393,...,0.302959,0.600894,0.005753,0.059021,0.000354,0.00634,0.176878,0.522495,0.157949,0.083418
32,Persons,200,NaN,NaN,NaN,c.,Acute hepatitis C,0.033406,0.000024,0.002289,...,0.040015,2.943841,0.006748,0.001376,0.000094,0.002489,0.028965,0.008996,0.009945,0.060447
33,Persons,205,NaN,NaN,NaN,d.,Acute hepatitis E,0.028771,0.000097,0.003335,...,0.027511,0.068606,0.0006,0.000176,0.000041,0.00028,0.020872,0.022177,0.004857,0.069004
34,Persons,210,NaN,NaN,9.,Parasitic and vector diseases,NaN,0.615126,0.001819,0.065729,...,27.20823,0.089496,0.011145,0.090063,0.00003,1.379897,0.604863,3.158853,9.323635,1.331829
35,Persons,220,NaN,NaN,NaN,a.,Malaria,0.094462,0,0,...,25.736485,0,0,0,0,0.155345,0,2.837566,8.805998,0.879295

In [8]:
# Define hierarchical classification dictionaries
classification_dict_Communicable = {
    'Communicable, maternal, perinatal and nutritional conditions': {
        'Infectious and parasitic diseases': {
            'Tuberculosis': {},
            'STDs excluding HIV': {
                'Syphilis': {},
                'Chlamydia': {},
                'Gonorrhoea': {},
                'Trichomoniasis': {},
                'Genital Herpes': {},
                'Other STDs': {}
            },
            'HIV/AIDS': {},
            'Diarrhoeal diseases': {},
            'Childhood-cluster diseases': {
                'Whooping cough': {},
                'Diphtheria': {},
                'Measles': {},
                'Tetanus': {}
            },
            'Meningitis': {},
            'Encephalitis': {},
            'Hepatitis': {
                'Acute hepatitis A': {},
                'Acute hepatitis B': {},
                'Acute hepatitis C': {},
                'Acute hepatitis E': {}
            },
            'Parasitic and vector diseases': {
                'Malaria': {},
                'Trypanosomiasis': {},
                'Chagas disease': {},
                'Schistosomiasis': {},
                'Leishmaniasis': {},
                'Lymphatic filariasis': {},
                'Onchocerciasis': {},
                'Cysticercosis': {},
                'Echinococcosis': {},
                'Dengue': {},
                'Trachoma': {},
                'Yellow fever': {},
                'Rabies': {}
            },
            'Intestinal nematode infections': {
                'Ascariasis': {},
                'Trichuriasis': {},
                'Hookworm disease': {},
                'Food-borne trematodes': {}
            },
            'Leprosy': {},
            'Other infectious diseases': {}
        },
        'Respiratory Infectious': {
            'Lower respiratory infections': {},
            'COVID-19': {},
            'Upper respiratory infections': {},
            'Otitis media': {}
        },
        'Maternal conditions': {},
        'Neonatal conditions': {
            'Preterm birth complications': {},
            'Birth asphyxia and birth trauma': {},
            'Neonatal sepsis and infections': {},
            'Other neonatal conditions': {}
        },
        'Nutritional deficiencies': {
            'Protein-energy malnutrition': {},
            'Iodine deficiency': {},
            'Vitamin A deficiency': {},
            'Iron-deficiency anaemia': {},
            'Other nutritional deficiencies': {}
        }
    }
}

classification_dict_Noncommunicable = {
    'Noncommunicable diseases': {
        'Malignant neoplasms': {
            'Mouth and oropharynx cancers': {
                'Lip and oral cavity': {},
                'Nasopharynx': {},
                'Other pharynx': {}
            },
            'Oesophagus cancer': {},
            'Stomach cancer': {},
            'Colon and rectum cancers': {},
            'Liver cancer': {
                'Liver cancer secondary to hepatitis B': {},
                'Liver cancer secondary to hepatitis C': {},
                'Liver cancer secondary to alcohol use': {},
                'Other liver cancer': {}
            },
            'Pancreas cancer': {},
            'Trachea, bronchus, lung cancers': {},
            'Melanoma and other skin cancers': {
                'Malignant skin melanoma': {},
                'Non-melanoma skin cancer': {}
            },
            'Breast cancer': {},
            'Cervix uteri cancer': {},
            'Corpus uteri cancer': {},
            'Ovary cancer': {},
            'Prostate cancer': {},
            'Testicular cancer': {},
            'Kidney cancer': {},
            'Bladder cancer': {},
            'Brain and nervous system cancers': {},
            'Gallbladder and biliary tract cancer': {},
            'Larynx cancer': {},
            'Thyroid cancer': {},
            'Mesothelioma': {},
            'Lymphomas, multiple myeloma': {
                'Hodgkin lymphoma': {},
                'Non-Hodgkin lymphoma': {},
                'Multiple myeloma': {}
            },
            'Leukaemia': {},
            'Other malignant neoplasms': {}
        },
        'Other neoplasms': {},
        'Diabetes mellitus': {},
        'Endocrine, blood, immune disorders': {
            'Thalassaemias': {},
            'Sickle cell disorders and trait': {},
            'Other haemoglobinopathies and haemolytic anaemias': {},
            'Other endocrine, blood and immune disorders': {}
        },
        'Mental and substance use disorders': {
            'Depressive disorders': {},
            'Bipolar disorder': {},
            'Schizophrenia': {},
            'Alcohol use disorders': {},
            'Drug use disorders': {
                'Opioid use disorders': {},
                'Cocaine use disorders': {},
                'Amphetamine use disorders': {},
                'Cannabis use disorders': {},
                'Other drug use disorders': {}
            },
            'Anxiety disorders': {},
            'Eating disorders': {},
            'Autism and Asperger syndrome': {},
            'Childhood behavioural disorders': {
                'Attention deficit/hyperactivity syndrome': {},
                'Conduct disorder': {}
            },
            'Idiopathic intellectual disability': {},
            'Other mental and behavioural disorders': {}
        },
        'Neurological conditions': {
            'Alzheimer disease and other dementias': {},
            'Parkinson disease': {},
            'Epilepsy': {},
            'Multiple sclerosis': {},
            'Migraine': {},
            'Non-migrane headache': {},
            'Other neurological conditions': {}
        },
        'Sense organ diseases': {
            'Glaucoma': {},
            'Cataracts': {},
            'Uncorrected refractive errors': {},
            'Macular degeneration': {},
            'Other vision loss': {},
            'Other hearing loss': {},
            'Other sense organ disorders': {}
        },
        'Cardiovascular diseases': {
            'Rheumatic heart disease': {},
            'Hypertensive heart disease': {},
            'Ischaemic heart disease': {},
            'Stroke': {
                'Ischaemic stroke': {},
                'Haemorrhagic stroke': {}
            },
            'Cardiomyopathy, myocarditis, endocarditis': {},
            'Other circulatory diseases': {}
        },
        'Respiratory diseases': {
            'Chronic obstructive pulmonary disease': {},
            'Asthma': {},
            'Other respiratory diseases': {}
        },
        'Digestive diseases': {
            'Peptic ulcer disease': {},
            'Cirrhosis of the liver': {
                'Cirrhosis due to hepatitis B': {},
                'Cirrhosis due to hepatitis C': {},
                'Cirrhosis due to alcohol use': {},
                'Other liver cirrhosis': {}
            },
            'Appendicitis': {},
            'Gastritis and duodenitis': {},
            'Paralytic ileus and intestinal obstruction': {},
            'Inflammatory bowel disease': {},
            'Gallbladder and biliary diseases': {},
            'Pancreatitis': {},
            'Other digestive diseases': {}
        },
        'Genitourinary diseases': {
            'Kidney diseases': {
                'Acute glomerulonephritis': {},
                'Chronic kidney disease due to diabetes': {},
                'Other chronic kidney disease': {}
            },
            'Benign prostatic hyperplasia': {},
            'Urolithiasis': {},
            'Other urinary diseases': {},
            'Infertility': {},
            'Gynecological diseases': {}
        },
        'Skin diseases': {},
        'Musculoskeletal diseases': {
            'Rheumatoid arthritis': {},
            'Osteoarthritis': {},
            'Gout': {},
            'Back and neck pain': {},
            'Other musculoskeletal disorders': {}
        },
        'Congenital anomalies': {
            'Neural tube defects': {},
            'Cleft lip and cleft palate': {},
            'Down syndrome': {},
            'Congenital heart anomalies': {},
            'Other chromosomal anomalies': {},
            'Other congenital anomalies': {}
        },
        'Oral conditions': {
            'Dental caries': {},
            'Periodontal disease': {},
            'Edentulism': {},
            'Other oral disorders': {}
        },
        'Sudden infant death syndrome': {}
    }
}

classification_dict_Injury = {
    'Injuries': {
        'Unintentional injuries': {
            'Road injury': {},
            'Poisonings': {},
            'Falls': {},
            'Fire, heat and hot substances': {},
            'Drowning': {},
            'Exposure to mechanical forces': {},
            'Natural disasters': {},
            'Other unintentional injuries': {}
        },
        'Intentional injuries': {
            'Self-harm': {},
            'Interpersonal violence': {},
            'Collective violence and legal intervention': {}
        }
    },
    'Other COVID-19 pandemic-related outcomes': {}
}

# Function to flatten the hierarchical dictionary

def flatten_dict(d, category=None, sub_category=None, death_cause=None):

    rows = []  # Initialize an empty list to store rows

    for k, v in d.items():  # Iterate through key-value pairs in the dictionary

        if isinstance(v, dict) and not v:  # If value is an empty dictionary 

            rows.append([category, sub_category, death_cause, k])  # Append a row with current values

        elif isinstance(v, dict):  # If value is a dictionary 

            rows.extend(flatten_dict(v, category, sub_category, k))  # Recursively flatten
    return rows

# Function to create a DataFrame from a classification dictionary

def create_dataframe(classification_dict):

    rows = []  # Initialize an empty list to store rows

    for category, sub_categories in classification_dict.items():  # Iterate through categories

        for sub_category, death_causes in sub_categories.items():  # Iterate through sub-categories

            rows.extend(flatten_dict(death_causes, category, sub_category))  # Flatten and extend rows

    df = pd.DataFrame(rows, columns=['Category', 'Sub_Category', 'Death_Cause', 'Type'])  # Create DataFrame

    df['Death_Cause'] = df['Death_Cause'].fillna(df['Type'])  # Fill NaN values in 'Death_Cause' with 'Type'
    return df

# Create DataFrames for each classification dictionary
df_Communicable_diseases = create_dataframe(classification_dict_Communicable)
df_Non_Communicable_diseases = create_dataframe(classification_dict_Noncommunicable)
df_Injury_diseases = create_dataframe(classification_dict_Injury)

In [9]:
df_Non_Communicable_diseases

,Category,Sub_Category,Death_Cause,Type
0,Noncommunicable diseases,Malignant neoplasms,Mouth and oropharynx cancers,Lip and oral cavity
1,Noncommunicable diseases,Malignant neoplasms,Mouth and oropharynx cancers,Nasopharynx
2,Noncommunicable diseases,Malignant neoplasms,Mouth and oropharynx cancers,Other pharynx
3,Noncommunicable diseases,Malignant neoplasms,Oesophagus cancer,Oesophagus cancer
4,Noncommunicable diseases,Malignant neoplasms,Stomach cancer,Stomach cancer
...,...,...,...,...
106,Noncommunicable diseases,Congenital anomalies,Other congenital anomalies,Other congenital anomalies
107,Noncommunicable diseases,Oral conditions,Dental caries,Dental caries
108,Noncommunicable diseases,Oral conditions,Periodontal disease,Periodontal disease
109,Noncommunicable diseases,Oral conditions,Edentulism,Edentulism
110,Noncommunicable diseases,Oral conditions,Other oral disorders,Other oral disorders

##### Now with the main process of cleaning the Data Frame

In [10]:
def process_death(file_path, sheet_name):
    df_death = pd.read_excel(file_path, sheet_name=sheet_name)
    df_cleaned = df_death.copy()

    # Clean the data
    rows_to_drop = [0, 1, 2, 3, 4]
    df_cleaned = df_cleaned.drop(rows_to_drop)
    df_cleaned = df_cleaned.dropna(how='all')

    # Set new column names
    new_column_names = df_cleaned.iloc[0]
    df_cleaned.columns = new_column_names
    df_cleaned = df_cleaned[1:]

    # Rename specific columns
    new_columns = df_cleaned.columns.tolist()
    new_columns[2] = 'e'
    new_columns[4] = 'r'
    new_columns[5] = 't'
    df_cleaned.columns = new_columns
    
    return df_cleaned

##### I need to separate sex and disease information in the DataFrame. I used the method of printing their indices based on the 'GHE code' available in the main DataFrame.

In [11]:
df_cleaned_male = df_cleaned.copy()
df_cleaned_male = df_cleaned_male[df_cleaned_male['Sex'] == 'Males']
df_cleaned_male = df_cleaned_male.reset_index()

start_idx = df_cleaned_male[df_cleaned_male['GHE code'] == 10].index
end_idx = df_cleaned_male[df_cleaned_male['GHE code'] == 590].index

print("Start Index:", start_idx)
print("End Index:", end_idx)

Start Index: Index([2], dtype='int64')
End Index: Index([63], dtype='int64')

In [12]:
start_idx = df_cleaned_male[df_cleaned_male['GHE code'] == 600].index
end_idx = df_cleaned_male[df_cleaned_male['GHE code'] == 1505].index
print("Start Index:", start_idx)
print("End Index:", end_idx)

Start Index: Index([64], dtype='int64')
End Index: Index([200], dtype='int64')

In [13]:
start_idx = df_cleaned_male[df_cleaned_male['GHE code'] == 1510].index
end_idx = df_cleaned_male[df_cleaned_male['GHE code'] == 1700].index
print("Start Index:", start_idx)
print("End Index:", end_idx)

Start Index: Index([201], dtype='int64')
End Index: Index([215], dtype='int64')

In [14]:
def Death_cause(variable, file_path, sheet_name, start, end, rows, Death_Cause, columns, numbers, rows_to_drop_male, diseases, check_if_male):
    
    # Process the death data based on whether 'Males' or not
    if check_if_male == 'Yes':
        
        variable = process_death(file_path, sheet_name).copy()
        # Filter the data for males only
        variable = variable[variable['Sex'] == 'Males']
        # Reset index for the DataFrame
        variable = variable.reset_index()  
    elif check_if_male == 'No':
        
        variable = process_death(file_path, sheet_name).copy()
    else:
        
        print('error')
        
    # Slice the DataFrame based on start and end indices
    variable = variable.iloc[start:end]
    # Drop rows where 'GHE cause' is in the 'rows' list
    variable = variable[~variable['GHE cause'].isin(rows)]
    # Drop rows where 't' is in the 'Death_Cause' list
    variable = variable[~variable['t'].isin(Death_Cause)]
    # Drop specified columns by their names
    variable = variable.drop(numbers)
    # Drop specified columns by their names
    variable = variable.drop(columns=columns)

    # If the data is for males, drop additional rows based on 'rows_to_drop_male'
    if check_if_male == 'Yes':
        variable = variable[~variable['index'].isin(rows_to_drop_male)]
    elif check_if_male == 'No':
        pass  
    else:
        
        print('error')

    # Remove columns with NaN values
    variable = variable.loc[:, variable.columns.notna()]
    # Reset the index of the DataFrame
    variable = variable.reset_index()
    # Add 'Category', 'Sub_Category', 'Death_Cause', 'Type' columns from 'diseases' DataFrame
    variable[['Category', 'Sub_Category', 'Death_Cause', 'Type']] = diseases[['Category', 'Sub_Category', 'Death_Cause', 'Type']]
    # Reshape the DataFrame from wide to long format
    variable = variable.melt(id_vars=['Sex', 'Category', 'Sub_Category', 'Death_Cause', 'Type'], value_vars=list_of_country_names, var_name='Country', value_name='Value')
    # Merge with 'countries' DataFrame to add country codes and country name
    variable = pd.merge(variable, countries, on='Country', how='left')

    # Reorder columns and replace 'Persons' with 'Both' in the 'Sex' column
    variable = variable[['Sex', 'Country', 'Country_code', 'Category', 'Sub_Category', 'Death_Cause', 'Type', 'Value']]
    variable['Sex'] = variable['Sex'].replace({'Persons': 'Both'})
    
    
    return variable

##### I have five files, each representing a different year, and each file contains multiple sheets categorized by age group. I need to concatenate all these sheets from each file into a single DataFrame.

In [15]:
def process_file(file_path, sheet_name):
    combined_df = pd.DataFrame()  # Initialize an empty DataFrame to hold the combined results

    # Extract the year from the file name
    year = file_path.split('_')[-1].split('.')[0]
    
    # Process data for both genders across different categories
    # Communicable diseases for both genders
    df_Communicable_both_gender = Death_cause(
        pd.DataFrame(),  # Pass an empty DataFrame as the initial variable
        file_path,       # Path to the file
        sheet_name,      # Name of the sheet to read from
        0, 66,           # Row indices to select (start: 0, end: 66)
        ['A.', 'B.', 'C.', 'D.', 'E.'],  # Rows to exclude based on 'GHE cause'
        ['STDs excluding HIV', 'Childhood-cluster diseases', 'Hepatitis', 'Parasitic and vector diseases', 'Intestinal nematode infections'],  # Diseases to exclude
        ['GHE code', 'GHE cause', 'Country or area\n(See Notes for explanation of colour codes)'],  # Columns to drop
        [6, 7, 8, 9, 10],  # Columns to drop by index
        [],  # No additional rows to drop for this category
        df_Communicable_diseases,  # Diseases DataFrame with detailed classifications
        'No'  # Process data for both genders (not filtered by sex)
    )

    # Non-communicable diseases for both genders
    df_Non_Communicable_both_gender = Death_cause(
        pd.DataFrame(),  # Pass an empty DataFrame as the initial variable
        file_path,       # Path to the file
        sheet_name,      # Name of the sheet to read from
        66, 203,         # Row indices to select (start: 66, end: 203)
        ['A.', 'B.', 'C.', 'D.', 'E.', 'F.', 'G.', 'H.', 'I.', 'J.', 'K.', 'L.', 'M.', 'N.', 'O.', 'P.'],  # Rows to exclude based on 'GHE cause'
        ['Mouth and oropharynx cancers', 'Liver cancer', 'Melanoma and other skin cancers', 'Lymphomas, multiple myeloma', 'Drug use disorders', 'Childhood behavioural disorders', 'Stroke', 'Cirrhosis of the liver', 'Kidney diseases'],  # Diseases to exclude
        ['GHE code', 'GHE cause', 'Country or area\n(See Notes for explanation of colour codes)', 'e', 'r', 't'],  # Columns to drop
        [72],  # Columns to drop by index
        [],  # No additional rows to drop for this category
        df_Non_Communicable_diseases,  # Diseases DataFrame with detailed classifications
        'No'  # Process data for both genders (not filtered by sex)
    )

    # Injuries for both genders
    df_Injury_both_gender = Death_cause(
        pd.DataFrame(),  # Pass an empty DataFrame as the initial variable
        file_path,       # Path to the file
        sheet_name,      # Name of the sheet to read from
        203, 218,        # Row indices to select (start: 203, end: 218)
        ['A.', 'B.', 'C.'],  # Rows to exclude based on 'GHE cause'
        [],  # No diseases to exclude
        ['GHE code', 'GHE cause', 'Country or area\n(See Notes for explanation of colour codes)', 'e', 'r', 't'],  # Columns to drop
        [209],  # Columns to drop by index
        [],  # No additional rows to drop for this category
        df_Injury_diseases,  # Diseases DataFrame with detailed classifications
        'No'  # Process data for both genders (not filtered by sex)
    )

    # Combine the DataFrames for all categories and both genders
    Death_cause_both_gender = pd.concat([df_Communicable_both_gender, df_Non_Communicable_both_gender, df_Injury_both_gender])

    # Process data for males only
    df_Communicable_male = Death_cause(
        pd.DataFrame(),  # Pass an empty DataFrame as the initial variable
        file_path,       # Path to the file
        sheet_name,      # Name of the sheet to read from
        2, 64,           # Row indices to select (start: 2, end: 64)
        ['A.', 'B.', 'C.', 'D.', 'E.'],  # Rows to exclude based on 'GHE cause'
        ['STDs excluding HIV', 'Childhood-cluster diseases', 'Hepatitis', 'Parasitic and vector diseases', 'Intestinal nematode infections'],  # Diseases to exclude
        ['GHE code', 'GHE cause', 'Country or area\n(See Notes for explanation of colour codes)'],  # Columns to drop
        [],  # No columns to drop by index
        [228, 231, 240, 247, 252, 266],  # Rows to drop for males
        df_Communicable_diseases,  # Diseases DataFrame with detailed classifications
        'Yes'  # Process data only for males
    )

    df_Non_Communicable_male = Death_cause(
        pd.DataFrame(),  # Pass an empty DataFrame as the initial variable
        file_path,       # Path to the file
        sheet_name,      # Name of the sheet to read from
        65, 200,         # Row indices to select (start: 65, end: 200)
        ['A.', 'B.', 'C.', 'D.', 'E.', 'F.', 'G.', 'H.', 'I.', 'J.', 'K.', 'L.', 'M.', 'N.', 'O.', 'P.'],  # Rows to exclude based on 'GHE cause'
        ['Mouth and oropharynx cancers', 'Liver cancer', 'Melanoma and other skin cancers', 'Lymphomas, multiple myeloma', 'Drug use disorders', 'Childhood behavioural disorders', 'Stroke', 'Cirrhosis of the liver', 'Kidney diseases'],  # Diseases to exclude
        ['GHE code', 'GHE cause', 'Country or area\n(See Notes for explanation of colour codes)', 'e', 'r', 't'],  # Columns to drop
        [],  # No columns to drop by index
        [],  # No additional rows to drop for this category
        df_Non_Communicable_diseases,  # Diseases DataFrame with detailed classifications
        'Yes'  # Process data only for males
    )

    df_Injury_male = Death_cause(
        pd.DataFrame(),  # Pass an empty DataFrame as the initial variable
        file_path,       # Path to the file
        sheet_name,      # Name of the sheet to read from
        202, 215,        # Row indices to select (start: 202, end: 215)
        ['A.', 'B.', 'C.'],  # Rows to exclude based on 'GHE cause'
        [],  # No diseases to exclude
        ['GHE code', 'GHE cause', 'Country or area\n(See Notes for explanation of colour codes)', 'e', 'r', 't'],  # Columns to drop
        [],  # No columns to drop by index
        [],  # No additional rows to drop for this category
        df_Injury_diseases,  # Diseases DataFrame with detailed classifications
        'Yes'  # Process data only for males
    )

    # Combine the DataFrames for all categories and males
    Death_cause_male = pd.concat([df_Communicable_male, df_Non_Communicable_male, df_Injury_male])

    # Create a female DataFrame based on both data
    Death_cause_female = Death_cause_male.copy()
    Death_cause_female['Sex'] = 'Females'  # Update the 'Sex' column to 'Females'
    Death_cause_female['Value'] = Death_cause_both_gender['Value'] - Death_cause_male['Value']  # Calculate the female values
    Death_cause_female['Value'] = Death_cause_female['Value'].abs()  # Ensure values are positive

    # Combine DataFrames for both genders and both sexes
    combined_df = pd.concat([Death_cause_both_gender, Death_cause_male, Death_cause_female], ignore_index=True)
    combined_df['Year'] = year  # Add the year to the final DataFrame

   
    return combined_df

In [ ]:
def combine_data(file_paths, ages):
    combined_df = pd.DataFrame()  

    # Iterate through each file path
    for file_path in file_paths:
        # Iterate through each age group
        for age in ages:
            sheet_name = str(age)  # Convert the age group to string for the sheet name
            
            # Process the file and sheet for the given age group
            df_age = process_file(file_path, sheet_name)
            
            # Add a new column 'Age_Group' to the DataFrame to specify the age group
            df_age['Age_Group'] = age
            
            # Concatenate the current DataFrame with the combined DataFrame
            combined_df = pd.concat([combined_df, df_age], ignore_index=True)
        
    
    return combined_df


# List of file paths to process
file_paths = [
    "C://Users/Emerson Wu Li/Desktop/longevity/ghe2021_deaths_bycountry_2021.xlsx",
    "C://Users/Emerson Wu Li/Desktop/longevity/ghe2021_deaths_bycountry_2015.xlsx",
    "C://Users/Emerson Wu Li/Desktop/longevity/ghe2021_deaths_bycountry_2010.xlsx",
    "C://Users/Emerson Wu Li/Desktop/longevity/ghe2021_deaths_bycountry_2000.xlsx"
]

# List of age groups to process
ages = ['0-4', '5-14', '15-29', '30-49', '50-59', '60-69', '70+']

# Combine data from all files and age groups
df_combined = combine_data(file_paths, ages)

# Ensure the 'Year' column is of integer type
df_combined['Year'] = df_combined['Year'].apply(int)

In [18]:
df_combined

,Sex,Country,Country_code,Category,Sub_Category,Death_Cause,Type,Value,Year,Age_Group
0,Both,Afghanistan,AFG,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Tuberculosis,Tuberculosis,1.328559,2021,0-4
1,Both,Afghanistan,AFG,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,STDs excluding HIV,Syphilis,0.581478,2021,0-4
2,Both,Afghanistan,AFG,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,STDs excluding HIV,Chlamydia,0,2021,0-4
3,Both,Afghanistan,AFG,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,STDs excluding HIV,Gonorrhoea,0,2021,0-4
4,Both,Afghanistan,AFG,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,STDs excluding HIV,Trichomoniasis,0,2021,0-4
...,...,...,...,...,...,...,...,...,...,...
2688415,Females,Zimbabwe,ZWE,Injuries,Unintentional injuries,Natural disasters,Natural disasters,0.007029,2000,70+
2688416,Females,Zimbabwe,ZWE,Injuries,Unintentional injuries,Other unintentional injuries,Other unintentional injuries,0.071697,2000,70+
2688417,Females,Zimbabwe,ZWE,Injuries,Intentional injuries,Self-harm,Self-harm,0.117081,2000,70+
2688418,Females,Zimbabwe,ZWE,Injuries,Intentional injuries,Interpersonal violence,Interpersonal violence,0.011402,2000,70+
2688419,Females,Zimbabwe,ZWE,Injuries,Intentional injuries,Collective violence and legal intervention,Collective violence and legal intervention,0.003348,2000,70+

##### Bringing the Data Frame from another file to combine analysis

In [19]:
# Acessing the Data Frames from the Life expectancy file
file_path = 'C:/Users/Emerson Wu Li/Desktop/longevity/top_and_bottom.xlsx'
data = pd.read_excel(file_path, sheet_name=None)

# `data` is now a dictionary where the keys are the sheet names and the values are DataFrames
top_b_at_birth = data['top_b_at_birth']
bottom_b_at_birth = data['bottom_b_at_birth']
top_m_at_birth = data['top_m_at_birth']
bottom_m_at_birth = data['bottom_m_at_birth']
top_f_at_birth = data['top_f_at_birth']
bottom_f_at_birth = data['bottom_f_at_birth']
top_b_at_60 = data['top_b_at_60']
bottom_b_at_60 = data['bottom_b_at_60']
top_m_at_60 = data['top_m_at_60']
bottom_m_at_60 = data['bottom_m_at_60']
top_f_at_60 = data['top_f_at_60']
bottom_f_at_60 = data['bottom_f_at_60']

##### I am creating these lists to combine with other tables for further analysis. Each list contains countries along with their corresponding indicators, years, and categories.

In [20]:
# Extracts the countries for a specific year from a DataFrame.
# which stands for Data Frame
def top_year(which, Year):

    top = which[which['Year'] == Year]
    top = top['Country']
    return top

# Converts the countries list from top_year into a Python list.
def year_diff(whitch, year):
    list = top_year(whitch, year).to_list()
    return list

years = [2000, 2010, 2015, 2021]


# Dictionaries to store the lists of countries for different categories and years.
list_top_b_b = {}
list_top_b_60 = {}
list_bottom_b_b = {}
list_bottom_b_60 = {}

list_top_m_b = {}
list_top_m_60 = {}
list_bottom_m_b = {}
list_bottom_m_60 = {}

list_top_f_b = {}
list_top_f_60 = {}
list_bottom_f_b = {}
list_bottom_f_60 = {}

# Iterate over the years and populate the dictionaries with lists of countries for each year and category.
for year in years:

    list_top_b_b[year] = year_diff(top_b_at_birth, year)
    list_top_b_60[year] = year_diff(top_b_at_60, year)
    list_bottom_b_b[year] = year_diff(bottom_b_at_birth, year)
    list_bottom_b_60[year] = year_diff(bottom_b_at_60, year)

    list_top_m_b[year] = year_diff(top_m_at_birth, year)
    list_top_m_60[year] = year_diff(top_m_at_60, year)
    list_bottom_m_b[year] = year_diff(bottom_m_at_birth, year)
    list_bottom_m_60[year] = year_diff(bottom_m_at_60, year)

    list_top_f_b[year] = year_diff(top_f_at_birth, year)
    list_top_f_60[year] = year_diff(top_f_at_60, year)
    list_bottom_f_b[year] = year_diff(bottom_f_at_birth, year)
    list_bottom_f_60[year] = year_diff(bottom_f_at_60, year)

In [21]:
def age_groups(age_list, sex):
    # Filter the DataFrame 'df_combined' based on the specified age groups and sex.
    return df_combined[(df_combined['Age_Group'].isin(age_list)) & (df_combined['Sex'] == sex)]

# Dictionary defining age groups for males.
age_groups_both = {
    'birth': ['0-4'],  
    'rests': ['5-14', '15-29', '30-49', '50-59'], 
    'sixty': ['60-69', '70+']  
} 

age_groups_male = {
    'birth': ['0-4'],  
    'rests': ['5-14', '15-29', '30-49', '50-59'], 
    'sixty': ['60-69', '70+']  
}

# Dictionary defining age groups for females (same as for males in this case).
age_groups_female = {
    'birth': ['0-4'],  
    'rests': ['5-14', '15-29', '30-49', '50-59'],  
    'sixty': ['60-69', '70+']  
}

# Filtering data for males based on the defined age groups.

birth_both = age_groups(age_groups_both['birth'], 'Both')
rests_both = age_groups(age_groups_both['rests'], 'Both')
sixty_both = age_groups(age_groups_both['sixty'], 'Both')

# Filtering data for males based on the defined age groups.

birth_male = age_groups(age_groups_male['birth'], 'Males')
rests_male = age_groups(age_groups_male['rests'], 'Males')
sixty_male = age_groups(age_groups_male['sixty'], 'Males')

# Filtering data for females based on the defined age groups.

birth_female = age_groups(age_groups_female['birth'], 'Females')
rests_female = age_groups(age_groups_female['rests'], 'Females')
sixty_female = age_groups(age_groups_female['sixty'], 'Females')

In [22]:
def rest(variable, country_list, year):
    df = variable.copy()
    
    # Filter the DataFrame for the specified year and countries in the country_list
    df = df[
        (df['Year'] == year) & 
        (df['Country'].isin(country_list))
    ]
    
    # Ensure the 'Country' column follows the specified order
    df['Country'] = pd.Categorical(df['Country'], categories=country_list, ordered=True)
    
    # Sort the DataFrame by the 'Country' column and reset the index
    df = df.sort_values('Country').reset_index(drop=True)
    
    return df

# Define the categories and positions for filtering data
categories = ['birth_both', 'birth_male', 'sixty_both', 'sixty_male', 'birth_female', 'sixty_female', 'rests_male', 'rests_female', 'rests_both']
positions = ['top_m_b', 'top_m_60', 'bottom_m_b', 'bottom_m_60', 'top_f_b', 'top_f_60', 'bottom_f_b', 'bottom_f_60', 'top_b_b', 'top_b_60', 'bottom_b_b', 'bottom_b_60']
years = [2000, 2010, 2015, 2021]

# Initialize a nested dictionary to store DataFrames
data_dfs = {cat: {pos: {} for pos in positions} for cat in categories}

# Populate the dictionary with DataFrames filtered by year and category
for year in years:
    for category in categories:
        for position in positions:
            list_var_name = f"list_{position}"  # Construct the variable name for country list
            df_var_name = category  # Use the category name to get the DataFrame
            
            # Access the variables using globals() with error handling
            list_var = globals().get(list_var_name, {}).get(year, [])  # Get the list of countries for the given year
            df_var = globals().get(df_var_name)  # Get the DataFrame for the given category
            
            # Applying the 'rest' function to filter data
            data_dfs[category][position][year] = rest(df_var, list_var, year)

def concat_dfs(data_dict):
    # Concatenate all DataFrames in the dictionary into a single DataFrame
    return pd.concat(data_dict.values(), ignore_index=True)

# Combine all filtered DataFrames into a single dictionary
all_data = {
    'birth_male': {
        'top_m_b': concat_dfs(data_dfs['birth_male']['top_m_b']),
        'bottom_m_b': concat_dfs(data_dfs['birth_male']['bottom_m_b']),
    },

    'sixty_male': {
        'top_m_60': concat_dfs(data_dfs['sixty_male']['top_m_60']),
        'bottom_m_60': concat_dfs(data_dfs['sixty_male']['bottom_m_60']),
    },

    'birth_female': {
        'top_f_b': concat_dfs(data_dfs['birth_female']['top_f_b']),
        'bottom_f_b': concat_dfs(data_dfs['birth_female']['bottom_f_b']),
    },

    'sixty_female': {
        'top_f_60': concat_dfs(data_dfs['sixty_female']['top_f_60']),
        'bottom_f_60': concat_dfs(data_dfs['sixty_female']['bottom_f_60']),
    },

    'birth_both': {
        'top_b_b': concat_dfs(data_dfs['birth_both']['top_b_b']),
        'bottom_b_b': concat_dfs(data_dfs['birth_both']['bottom_b_b']),
    },

    'sixty_both': {
        'top_b_60': concat_dfs(data_dfs['sixty_both']['top_b_60']),
        'bottom_b_60': concat_dfs(data_dfs['sixty_both']['bottom_b_60']),
    },

    'rests_male': {
        'top_m_60': concat_dfs(data_dfs['rests_male']['top_m_60']),
        'bottom_m_60': concat_dfs(data_dfs['rests_male']['bottom_m_60']),
    },

    'rests_female': {
        'top_f_60': concat_dfs(data_dfs['rests_female']['top_f_60']),
        'bottom_f_60': concat_dfs(data_dfs['rests_female']['bottom_f_60']),
    },
    
    'rests_both': {
        'top_b_60': concat_dfs(data_dfs['rests_both']['top_b_60']),
        'bottom_b_60': concat_dfs(data_dfs['rests_both']['bottom_b_60'])
    }
}

In [23]:
# Male
all_top_at_birth_male = all_data['birth_male']['top_m_b']
all_bottom_at_birth_male = all_data['birth_male']['bottom_m_b']

all_top_at_60_male = all_data['sixty_male']['top_m_60']
all_bottom_at_60_male = all_data['sixty_male']['bottom_m_60']

all_top_rests_male = all_data['rests_male']['top_m_60']
all_bottom_rests_male = all_data['rests_male']['bottom_m_60']

# Female
all_top_at_birth_female = all_data['birth_female']['top_f_b']
all_bottom_at_birth_female = all_data['birth_female']['bottom_f_b']

all_top_at_60_female = all_data['sixty_female']['top_f_60']
all_bottom_at_60_female = all_data['sixty_female']['bottom_f_60']

all_top_rests_female = all_data['rests_female']['top_f_60']
all_bottom_rests_female = all_data['rests_female']['bottom_f_60']

# Both
all_top_at_birth_both = all_data['birth_both']['top_b_b']
all_bottom_at_birth_both = all_data['birth_both']['bottom_b_b']

all_top_at_60_both = all_data['sixty_both']['top_b_60']
all_bottom_at_60_both = all_data['sixty_both']['bottom_b_60']

all_top_rests_both = all_data['rests_both']['top_b_60']
all_bottom_rests_both = all_data['rests_both']['bottom_b_60']

In [24]:
all_top_at_60_female

,Sex,Country,Country_code,Category,Sub_Category,Death_Cause,Type,Value,Year,Age_Group
0,Females,Japan,JPN,Injuries,Unintentional injuries,Other unintentional injuries,Other unintentional injuries,0.49349,2000,60-69
1,Females,Japan,JPN,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Other nutritional deficiencies,Other nutritional deficiencies,0.107548,2000,70+
2,Females,Japan,JPN,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Iron-deficiency anaemia,Iron-deficiency anaemia,0.377925,2000,70+
3,Females,Japan,JPN,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Vitamin A deficiency,Vitamin A deficiency,0,2000,70+
4,Females,Japan,JPN,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Iodine deficiency,Iodine deficiency,0,2000,70+
...,...,...,...,...,...,...,...,...,...,...
75423,Females,El Salvador,SLV,"Communicable, maternal, perinatal and nutritio...",Neonatal conditions,Other neonatal conditions,Other neonatal conditions,0,2021,60-69
75424,Females,El Salvador,SLV,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Protein-energy malnutrition,Protein-energy malnutrition,0.008504,2021,60-69
75425,Females,El Salvador,SLV,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Iodine deficiency,Iodine deficiency,0,2021,60-69
75426,Females,El Salvador,SLV,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Iron-deficiency anaemia,Iron-deficiency anaemia,0,2021,60-69
75427,Females,El Salvador,SLV,Noncommunicable diseases,Oral conditions,Edentulism,Edentulism,0,2021,70+

##### The category names are structured as follows: each is divided into two parts—(b, m, or f), and (t or b). Here, "b" stands for both sexes, "m" for male, and "f" for female, while "b"(for the seconde letter) stands for bottom and "t" stands for top

In [25]:
def categorizing_Death(dataset, raw):
    variable = dataset.copy()  
    variable['Indicator'] = raw['Indicator'].iloc[0]  # Add 'Indicator' column from raw data
    variable['categorize'] = raw['categorize'].iloc[0]  # Add 'categorize' column from raw data
    return variable

In [26]:
# Initialize a dictionary to hold datasets and their corresponding raw DataFrames for categorization
result_dict = {
    'all_top_at_birth_male': (all_top_at_birth_male, top_m_at_birth),
    'all_top_at_60_male': (all_top_at_60_male, top_m_at_60),
    'all_bottom_at_birth_male': (all_bottom_at_birth_male, bottom_m_at_birth),
    'all_bottom_at_60_male': (all_bottom_at_60_male, bottom_m_at_60),
    'all_top_rests_male': (all_top_rests_male, top_m_at_60),
    'all_bottom_rests_male': (all_bottom_rests_male, bottom_m_at_60),

    'all_top_at_birth_female': (all_top_at_birth_female, top_f_at_birth),
    'all_bottom_at_birth_female': (all_bottom_at_birth_female, bottom_f_at_birth),
    'all_top_at_60_female': (all_top_at_60_female, top_f_at_60),
    'all_bottom_at_60_female': (all_bottom_at_60_female, bottom_f_at_60),
    'all_top_rests_female': (all_top_rests_female, top_f_at_60),
    'all_bottom_rests_female': (all_bottom_rests_female, bottom_f_at_60),
    
    'all_top_at_birth_both': (all_top_at_birth_both, top_b_at_birth),
    'all_bottom_at_birth_both': (all_bottom_at_birth_both, bottom_b_at_birth),
    'all_top_at_60_both': (all_top_at_60_both, top_b_at_60),
    'all_bottom_at_60_both': (all_bottom_at_60_both, bottom_b_at_60),
    'all_top_rests_both': (all_top_rests_both, top_b_at_60),
    'all_bottom_rests_both': (all_bottom_rests_both, bottom_b_at_60)
}

# Iterate over each key-value pair in the result_dict
for key, (dataset, raw) in result_dict.items():
    # Apply the categorizing_Death function to each dataset and its corresponding raw DataFrame
    result_dict[key] = categorizing_Death(dataset, raw)

# Extract the updated DataFrames from result_dict
all_top_at_birth_male = result_dict['all_top_at_birth_male']
all_top_at_60_male = result_dict['all_top_at_60_male']
all_bottom_at_birth_male = result_dict['all_bottom_at_birth_male']
all_bottom_at_60_male = result_dict['all_bottom_at_60_male']
all_top_rests_male = result_dict['all_top_rests_male']
all_bottom_rests_male = result_dict['all_bottom_rests_male']

all_top_at_birth_female = result_dict['all_top_at_birth_female']
all_bottom_at_birth_female = result_dict['all_bottom_at_birth_female']
all_top_at_60_female = result_dict['all_top_at_60_female']
all_bottom_at_60_female = result_dict['all_bottom_at_60_female']
all_top_rests_female = result_dict['all_top_rests_female']
all_bottom_rests_female = result_dict['all_bottom_rests_female']

# Extract the updated DataFrames for 'both' gender
all_top_at_birth_both = result_dict['all_top_at_birth_both']
all_bottom_at_birth_both = result_dict['all_bottom_at_birth_both']
all_top_at_60_both = result_dict['all_top_at_60_both']
all_bottom_at_60_both = result_dict['all_bottom_at_60_both']
all_top_rests_both = result_dict['all_top_rests_both']
all_bottom_rests_both = result_dict['all_bottom_rests_both']

In [27]:
all_bottom_at_birth_male

,Sex,Country,Country_code,Category,Sub_Category,Death_Cause,Type,Value,Year,Age_Group,Indicator,categorize
0,Males,Comoros,COM,Injuries,Intentional injuries,Self-harm,Self-harm,0,2000,0-4,Life expectancy at birth (years),mb
1,Males,Comoros,COM,Noncommunicable diseases,Malignant neoplasms,Other malignant neoplasms,Other malignant neoplasms,0.000375,2000,0-4,Life expectancy at birth (years),mb
2,Males,Comoros,COM,Noncommunicable diseases,Malignant neoplasms,Leukaemia,Leukaemia,0,2000,0-4,Life expectancy at birth (years),mb
3,Males,Comoros,COM,Noncommunicable diseases,Malignant neoplasms,"Lymphomas, multiple myeloma",Multiple myeloma,0,2000,0-4,Life expectancy at birth (years),mb
4,Males,Comoros,COM,Noncommunicable diseases,Malignant neoplasms,"Lymphomas, multiple myeloma",Non-Hodgkin lymphoma,0,2000,0-4,Life expectancy at birth (years),mb
...,...,...,...,...,...,...,...,...,...,...,...,...
38747,Males,Lesotho,LSO,Injuries,Intentional injuries,Collective violence and legal intervention,Collective violence and legal intervention,0.000288,2021,0-4,Life expectancy at birth (years),mb
38748,Males,Lesotho,LSO,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Iron-deficiency anaemia,Iron-deficiency anaemia,0,2021,0-4,Life expectancy at birth (years),mb
38749,Males,Lesotho,LSO,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,Vitamin A deficiency,Vitamin A deficiency,0,2021,0-4,Life expectancy at birth (years),mb
38750,Males,Lesotho,LSO,Noncommunicable diseases,Sense organ diseases,Macular degeneration,Macular degeneration,0,2021,0-4,Life expectancy at birth (years),mb
38751,Males,Lesotho,LSO,Injuries,Unintentional injuries,Drowning,Drowning,0.036918,2021,0-4,Life expectancy at birth (years),mb

In [28]:
def ranking_countries_death(raw, dataset):
    variable = dataset.copy()
    
    # Create a dictionary to map (Country, Year) to Ranking from the raw DataFrame
    ranking_map = raw.set_index(['Country', 'Year'])['Ranking'].to_dict()

    # Set the index of the variable DataFrame to (Country, Year) for alignment with the ranking_map
    variable = variable.set_index(['Country', 'Year'])
    
    # Map the rankings to the variable DataFrame using the ranking_map dictionary
    variable['Ranking'] = variable.index.map(ranking_map)
    
    variable = variable.reset_index()
    return variable

In [29]:
# Initialize the datasets dictionary with the "both" gender category added
datasets = {
    'all_top_at_birth_male': (top_m_at_birth, all_top_at_birth_male),
    'all_bottom_at_birth_male': (bottom_m_at_birth, all_bottom_at_birth_male),
    'all_top_at_60_male': (top_m_at_60, all_top_at_60_male),
    'all_bottom_at_60_male': (bottom_m_at_60, all_bottom_at_60_male),

    'all_top_at_birth_female': (top_f_at_birth, all_top_at_birth_female),
    'all_bottom_at_birth_female': (bottom_f_at_birth, all_bottom_at_birth_female),
    'all_top_at_60_female': (top_f_at_60, all_top_at_60_female),
    'all_bottom_at_60_female': (bottom_f_at_60, all_bottom_at_60_female),

    'all_top_rests_male': (top_m_at_60, all_top_rests_male),
    'all_bottom_rests_male': (bottom_m_at_60, all_bottom_rests_male),
    'all_top_rests_female': (top_f_at_60, all_top_rests_female),
    'all_bottom_rests_female': (bottom_f_at_60, all_bottom_rests_female),
    
    # Adding datasets for the "both" gender
    'all_top_at_birth_both': (top_b_at_birth, all_top_at_birth_both),
    'all_bottom_at_birth_both': (bottom_b_at_birth, all_bottom_at_birth_both),
    'all_top_at_60_both': (top_b_at_60, all_top_at_60_both),
    'all_bottom_at_60_both': (bottom_b_at_60, all_bottom_at_60_both),
    'all_top_rests_both': (top_b_at_60, all_top_rests_both),
    'all_bottom_rests_both': (bottom_b_at_60, all_bottom_rests_both)
}

# Iterate over each key-value pair in the datasets dictionary
for key, (raw, dataset) in datasets.items():
    # Apply the ranking_countries_death function to each pair of raw and dataset
    datasets[key] = ranking_countries_death(raw, dataset)

# Extract the updated DataFrames from the datasets dictionary
all_top_at_birth_male = datasets['all_top_at_birth_male']
all_bottom_at_birth_male = datasets['all_bottom_at_birth_male']
all_top_at_60_male = datasets['all_top_at_60_male']
all_bottom_at_60_male = datasets['all_bottom_at_60_male']

all_top_at_birth_female = datasets['all_top_at_birth_female']
all_bottom_at_birth_female = datasets['all_bottom_at_birth_female']
all_top_at_60_female = datasets['all_top_at_60_female']
all_bottom_at_60_female = datasets['all_bottom_at_60_female']

all_top_rests_male = datasets['all_top_rests_male']
all_bottom_rests_male = datasets['all_bottom_rests_male']
all_top_rests_female = datasets['all_top_rests_female']
all_bottom_rests_female = datasets['all_bottom_rests_female']

# Extract the updated DataFrames for the "both" gender
all_top_at_birth_both = datasets['all_top_at_birth_both']
all_bottom_at_birth_both = datasets['all_bottom_at_birth_both']
all_top_at_60_both = datasets['all_top_at_60_both']
all_bottom_at_60_both = datasets['all_bottom_at_60_both']
all_top_rests_both = datasets['all_top_rests_both']
all_bottom_rests_both = datasets['all_bottom_rests_both']

In [30]:
all_top_rests_female

,Country,Year,Sex,Country_code,Category,Sub_Category,Death_Cause,Type,Value,Age_Group,Indicator,categorize,Ranking
0,Japan,2000,Females,JPN,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Parasitic and vector diseases,Chagas disease,0,5-14,Life expectancy at age 60 (years),ft,1
1,Japan,2000,Females,JPN,Noncommunicable diseases,Sense organ diseases,Other vision loss,Other vision loss,0,50-59,Life expectancy at age 60 (years),ft,1
2,Japan,2000,Females,JPN,Noncommunicable diseases,Sense organ diseases,Macular degeneration,Macular degeneration,0,50-59,Life expectancy at age 60 (years),ft,1
3,Japan,2000,Females,JPN,Noncommunicable diseases,Sense organ diseases,Uncorrected refractive errors,Uncorrected refractive errors,0,50-59,Life expectancy at age 60 (years),ft,1
4,Japan,2000,Females,JPN,Noncommunicable diseases,Sense organ diseases,Cataracts,Cataracts,0,50-59,Life expectancy at age 60 (years),ft,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150851,El Salvador,2021,Females,SLV,Noncommunicable diseases,Malignant neoplasms,Gallbladder and biliary tract cancer,Gallbladder and biliary tract cancer,0.006325,50-59,Life expectancy at age 60 (years),ft,57
150852,El Salvador,2021,Females,SLV,Noncommunicable diseases,Malignant neoplasms,Brain and nervous system cancers,Brain and nervous system cancers,0.020576,50-59,Life expectancy at age 60 (years),ft,57
150853,El Salvador,2021,Females,SLV,Noncommunicable diseases,Malignant neoplasms,Bladder cancer,Bladder cancer,0.000002,50-59,Life expectancy at age 60 (years),ft,57
150854,El Salvador,2021,Females,SLV,Noncommunicable diseases,Malignant neoplasms,"Lymphomas, multiple myeloma",Multiple myeloma,0.005306,50-59,Life expectancy at age 60 (years),ft,57
150855,El Salvador,2021,Females,SLV,Noncommunicable diseases,Digestive diseases,Gallbladder and biliary diseases,Gallbladder and biliary diseases,0.000111,5-14,Life expectancy at age 60 (years),ft,57

##### The Data Frames are not sorted in a proper way

In [31]:
def sorting_rests(variable):
    # Extract the starting age from 'Age_Group', split the string, and convert to integer
    variable['sort_key'] = variable['Age_Group'].apply(lambda x: int(x.split('-')[0]))

    # Sort the DataFrame by the 'sort_key' column
    variable = variable.sort_values('sort_key')

    # Drop the 'sort_key' column as it's no longer needed
    variable = variable.drop('sort_key', axis=1)
    return variable

# Sort the male data for top and bottom rests
all_top_rests_male = sorting_rests(all_top_rests_male)
all_bottom_rests_male = sorting_rests(all_bottom_rests_male)

# Sort the female data for top and bottom rests
all_top_rests_female = sorting_rests(all_top_rests_female)
all_bottom_rests_female = sorting_rests(all_bottom_rests_female)

In [32]:
# Define the sorting function
def sorting(variable):
    sorted_variable = variable.sort_values(by=['Category', 'Year', 'Ranking'], ascending=True)
    return sorted_variable

# Apply the sorting function to all datasets
all_top_at_birth_male = sorting(all_top_at_birth_male)
all_bottom_at_birth_male = sorting(all_bottom_at_birth_male)

all_top_at_60_male = sorting(all_top_at_60_male)
all_bottom_at_60_male = sorting(all_bottom_at_60_male)

all_top_at_birth_female = sorting(all_top_at_birth_female)
all_bottom_at_birth_female = sorting(all_bottom_at_birth_female)

all_top_at_60_female = sorting(all_top_at_60_female)
all_bottom_at_60_female = sorting(all_bottom_at_60_female)

all_top_rests_male = sorting(all_top_rests_male)
all_bottom_rests_male = sorting(all_bottom_rests_male)

all_top_rests_female = sorting(all_top_rests_female)
all_bottom_rests_female = sorting(all_bottom_rests_female)

# Sorting for the "both" gender category
all_top_at_birth_both = sorting(all_top_at_birth_both)
all_bottom_at_birth_both = sorting(all_bottom_at_birth_both)

all_top_at_60_both = sorting(all_top_at_60_both)
all_bottom_at_60_both = sorting(all_bottom_at_60_both)

all_top_rests_both = sorting(all_top_rests_both)
all_bottom_rests_both = sorting(all_bottom_rests_both)

In [33]:
all_bottom_at_birth_male

,Country,Year,Sex,Country_code,Category,Sub_Category,Death_Cause,Type,Value,Age_Group,Indicator,categorize,Ranking
65,Comoros,2000,Males,COM,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Parasitic and vector diseases,Echinococcosis,0,0-4,Life expectancy at birth (years),mb,1
66,Comoros,2000,Males,COM,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Parasitic and vector diseases,Cysticercosis,0.000011,0-4,Life expectancy at birth (years),mb,1
67,Comoros,2000,Males,COM,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Parasitic and vector diseases,Onchocerciasis,0,0-4,Life expectancy at birth (years),mb,1
68,Comoros,2000,Males,COM,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Parasitic and vector diseases,Lymphatic filariasis,0,0-4,Life expectancy at birth (years),mb,1
69,Comoros,2000,Males,COM,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Parasitic and vector diseases,Leishmaniasis,0,0-4,Life expectancy at birth (years),mb,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38729,Lesotho,2021,Males,LSO,Noncommunicable diseases,Congenital anomalies,Other congenital anomalies,Other congenital anomalies,0.062409,0-4,Life expectancy at birth (years),mb,57
38730,Lesotho,2021,Males,LSO,Noncommunicable diseases,Congenital anomalies,Other chromosomal anomalies,Other chromosomal anomalies,0.008696,0-4,Life expectancy at birth (years),mb,57
38735,Lesotho,2021,Males,LSO,Noncommunicable diseases,Sense organ diseases,Other hearing loss,Other hearing loss,0,0-4,Life expectancy at birth (years),mb,57
38736,Lesotho,2021,Males,LSO,Noncommunicable diseases,Sense organ diseases,Other sense organ disorders,Other sense organ disorders,0,0-4,Life expectancy at birth (years),mb,57
38750,Lesotho,2021,Males,LSO,Noncommunicable diseases,Sense organ diseases,Macular degeneration,Macular degeneration,0,0-4,Life expectancy at birth (years),mb,57

### Factors Influencing Life Expectancy from Birth to Age 60, Considering Death Causes (excluding birth and age 60+ groups)

##### First, I am calculating the total number of deaths for each category.

In [34]:
def after_60(df):
    # Group the DataFrame by specified columns and aggregate the 'Value' column by summing
    variable = df.groupby(['Sex', 'Country', 'Category', 'Year', 'Ranking', 'categorize', 'Indicator'])['Value'].sum().reset_index()
    
    # Sort the grouped DataFrame first by 'Year' and then by 'Ranking' in ascending order
    variable = variable.sort_values(by=['Year', 'Ranking'], ascending=True)
    return variable

# Create a dictionary of datasets to process
result_dicts = {
    'all_top_rests_male_Category': all_top_rests_male,
    'all_bottom_rests_male_Category': all_bottom_rests_male,
    'all_top_rests_female_Category': all_top_rests_female,
    'all_bottom_rests_female_Category': all_bottom_rests_female,
    'all_top_rests_both_Category': all_top_rests_both,
    'all_bottom_rests_both_Category': all_bottom_rests_both
}

# Process each dataset using the 'after_60' function and update the dictionary with the results
for key, dataset in result_dicts.items():
    result_dicts[key] = after_60(dataset)

# Extract the processed datasets from the dictionary
all_top_rests_male_Category = result_dicts['all_top_rests_male_Category']
all_bottom_rests_male_Category = result_dicts['all_bottom_rests_male_Category']
all_top_rests_female_Category = result_dicts['all_top_rests_female_Category']
all_bottom_rests_female_Category = result_dicts['all_bottom_rests_female_Category']
all_top_rests_both_Category = result_dicts['all_top_rests_both_Category']
all_bottom_rests_both_Category = result_dicts['all_bottom_rests_both_Category']

In [35]:
all_top_rests_both_Category

,Sex,Country,Category,Year,Ranking,categorize,Indicator,Value
336,Both,Japan,"Communicable, maternal, perinatal and nutritio...",2000,1,bt,Life expectancy at age 60 (years),5.796304
340,Both,Japan,Injuries,2000,1,bt,Life expectancy at age 60 (years),35.178429
344,Both,Japan,Noncommunicable diseases,2000,1,bt,Life expectancy at age 60 (years),95.265093
426,Both,Nicaragua,"Communicable, maternal, perinatal and nutritio...",2000,2,bt,Life expectancy at age 60 (years),0.755646
430,Both,Nicaragua,Injuries,2000,2,bt,Life expectancy at age 60 (years),1.923483
...,...,...,...,...,...,...,...,...
221,Both,El Salvador,Injuries,2021,56,bt,Life expectancy at age 60 (years),6.833649
224,Both,El Salvador,Noncommunicable diseases,2021,56,bt,Life expectancy at age 60 (years),6.093556
525,Both,Saint Vincent and the Grenadines,"Communicable, maternal, perinatal and nutritio...",2021,57,bt,Life expectancy at age 60 (years),0.049112
526,Both,Saint Vincent and the Grenadines,Injuries,2021,57,bt,Life expectancy at age 60 (years),0.051553
527,Both,Saint Vincent and the Grenadines,Noncommunicable diseases,2021,57,bt,Life expectancy at age 60 (years),0.175859

##### Since comparing the absolute number of deaths across countries is not accurate, I am instead calculating the percentage distribution across the three major categories to allow for better comparisons between countries.

In [36]:
def getting_percentage(variable):
    temp_variable = variable.groupby(['Country', 'Year'])['Value'].sum().reset_index()
    variable = pd.merge(temp_variable, variable, on=['Country', 'Year'], suffixes=('', '_original'))

# Divide the values in the two dataframes
    variable['Percentage'] = (variable['Value_original'] / variable['Value']) 

# Dropping the extra 'Value' column 
    variable = variable.drop(columns=['Value'])
    variable = variable.rename(columns={'Value_original': 'Value'})
    variable = variable.sort_values(by=['Year', 'Ranking'], ascending=True)
    return variable

In [37]:
# Apply the 'getting_percentage' function to each of the datasets, including the 'both' category
all_top_rests_male_Category = getting_percentage(all_top_rests_male_Category)
all_bottom_rests_male_Category = getting_percentage(all_bottom_rests_male_Category)
all_top_rests_female_Category = getting_percentage(all_top_rests_female_Category)
all_bottom_rests_female_Category = getting_percentage(all_bottom_rests_female_Category)
all_top_rests_both_Category = getting_percentage(all_top_rests_both_Category)
all_bottom_rests_both_Category = getting_percentage(all_bottom_rests_both_Category)

In [38]:
all_bottom_rests_female_Category

,Country,Year,Sex,Category,Ranking,categorize,Indicator,Value,Percentage
159,Djibouti,2000,Females,"Communicable, maternal, perinatal and nutritio...",1,fb,Life expectancy at age 60 (years),0.672781,0.603752
160,Djibouti,2000,Females,Injuries,1,fb,Life expectancy at age 60 (years),0.098115,0.088048
161,Djibouti,2000,Females,Noncommunicable diseases,1,fb,Life expectancy at age 60 (years),0.343437,0.308199
24,Azerbaijan,2000,Females,"Communicable, maternal, perinatal and nutritio...",2,fb,Life expectancy at age 60 (years),0.661352,0.118876
25,Azerbaijan,2000,Females,Injuries,2,fb,Life expectancy at age 60 (years),0.723314,0.130013
...,...,...,...,...,...,...,...,...,...
109,Central African Republic,2021,Females,Injuries,56,fb,Life expectancy at age 60 (years),1.183481,0.120714
110,Central African Republic,2021,Females,Noncommunicable diseases,56,fb,Life expectancy at age 60 (years),2.486008,0.253572
576,Somalia,2021,Females,"Communicable, maternal, perinatal and nutritio...",57,fb,Life expectancy at age 60 (years),85.994462,0.544641
577,Somalia,2021,Females,Injuries,57,fb,Life expectancy at age 60 (years),39.494501,0.250136
578,Somalia,2021,Females,Noncommunicable diseases,57,fb,Life expectancy at age 60 (years),32.40312,0.205223

In [39]:
category_m_f = pd.concat([
    all_top_rests_male_Category,
    all_bottom_rests_male_Category,
    all_top_rests_female_Category,
    all_bottom_rests_female_Category,
    all_top_rests_both_Category,
    all_bottom_rests_both_Category,
])

##### Getting the Death Rate from world bank website

In [40]:
file_path = 'C:/Users/Emerson Wu Li/Desktop/death_rate.csv'
death_rate = pd.read_csv(file_path)

# Setting the column names based on the second row (index 1) of the CSV file
death_rate.columns = death_rate.iloc[1]

# Getting a unique list of countries from the 'category_m_f' DataFrame
country_in = category_m_f['Country'].unique()

# Filtering the 'death_rate' DataFrame to include only rows where the country is in 'country_in'
death_rate = death_rate[death_rate['Country Name'].isin(country_in)]
death_rate = death_rate.sort_values(by='Country Name', ascending=True)

# Dropping unnecessary columns
columns_to_drop = ['Indicator Name', 'Indicator Code', 'Country Code']
death_rate = death_rate.drop(columns=columns_to_drop)

# Creating a list of years from 1960 to 2022 (inclusive)
list_of_year = [i for i in range(1960, 2023)]

# Reshaping the DataFrame using 'melt' to unpivot the year columns
death_rate = death_rate.melt(id_vars=['Country Name'], value_vars=list_of_year, var_name='Year', value_name='Death_rate')

# Converting the 'Year' column to an integer type
death_rate['Year'] = death_rate['Year'].astype(int)

# Renaming the 'Country Name' column to 'Country' for consistency in merging later
death_rate = death_rate.rename(columns={'Country Name': 'Country'})

# Keeping only the years 2000, 2010, 2015, and 2021 for further analysis
year_to_keep = [2000, 2010, 2015, 2021]
death_rate = death_rate[death_rate['Year'].isin(year_to_keep)]

# Filtering the 'category_m_f' DataFrame to include only rows where 'Sex' is 'Both'
category_everything_both = category_m_f[category_m_f['Sex'].isin(['Both'])]

# Merging the 'category_everything_both' DataFrame with the 'death_rate' DataFrame on 'Country' and 'Year'
category_everything_both = pd.merge(category_everything_both, death_rate, on=['Country', 'Year'])
category_everything_both

,Country,Year,Sex,Category,Ranking,categorize,Indicator,Value,Percentage,Death_rate
0,Japan,2000,Both,"Communicable, maternal, perinatal and nutritio...",1,bt,Life expectancy at age 60 (years),5.796304,0.042545,7.700
1,Japan,2000,Both,Injuries,1,bt,Life expectancy at age 60 (years),35.178429,0.25821,7.700
2,Japan,2000,Both,Noncommunicable diseases,1,bt,Life expectancy at age 60 (years),95.265093,0.699246,7.700
3,Nicaragua,2000,Both,"Communicable, maternal, perinatal and nutritio...",2,bt,Life expectancy at age 60 (years),0.755646,0.136617,5.547
4,Nicaragua,2000,Both,Injuries,2,bt,Life expectancy at age 60 (years),1.923483,0.347757,5.547
...,...,...,...,...,...,...,...,...,...,...
1183,Central African Republic,2021,Both,Injuries,56,bb,Life expectancy at age 60 (years),4.677177,0.205105,11.393
1184,Central African Republic,2021,Both,Noncommunicable diseases,56,bb,Life expectancy at age 60 (years),5.435686,0.238367,11.393
1185,Lesotho,2021,Both,"Communicable, maternal, perinatal and nutritio...",57,bb,Life expectancy at age 60 (years),9.599122,0.588549,14.186
1186,Lesotho,2021,Both,Injuries,57,bb,Life expectancy at age 60 (years),2.595085,0.159112,14.186
1187,Lesotho,2021,Both,Noncommunicable diseases,57,bb,Life expectancy at age 60 (years),4.115597,0.252339,14.186

##### Next, I am examining each type of death in detail to gain a deeper understanding.

In [41]:
def type_after_60(df):
    # First, group the DataFrame by specified columns and aggregate the 'Value' column by summing
    variable = df.groupby(['Sex', 'Country', 'Country_code', 'Category', 'Sub_Category', 'Death_Cause', 'Year', 'Type', 'Ranking', 'categorize', 'Indicator'])['Value'].sum().reset_index()
    
    # Then, group by a subset of columns and aggregate the 'Value' column by taking the maximum value
    variable = variable.groupby(['Sex', 'Country', 'Country_code', 'Category', 'Sub_Category', 'Death_Cause', 'Year', 'Ranking', 'categorize', 'Indicator'])['Value'].max().reset_index()

    variable = variable.sort_values(by = (['Category', 'Year', 'Ranking']), ascending = True)
    return variable

# Create a dictionary of datasets to process, including both male, female, and both gender categories
type_results_dict = {
    'all_top_rests_male_Type': all_top_rests_male,
    'all_bottom_rests_male_Type': all_bottom_rests_male,
    'all_top_rests_female_Type': all_top_rests_female,
    'all_bottom_rests_female_Type': all_bottom_rests_female,
    'all_top_rests_both_Type': all_top_rests_both,
    'all_bottom_rests_both_Type': all_bottom_rests_both,
}

# Process each dataset using the 'type_after_60' function and update the dictionary with the results
for key, dataset in type_results_dict.items():
    type_results_dict[key] = type_after_60(dataset)

# Extract the processed datasets from the dictionary
all_top_rests_male_Type = type_results_dict['all_top_rests_male_Type']
all_bottom_rests_male_Type = type_results_dict['all_bottom_rests_male_Type']
all_top_rests_female_Type = type_results_dict['all_top_rests_female_Type']
all_bottom_rests_female_Type = type_results_dict['all_bottom_rests_female_Type']
all_top_rests_both_Type = type_results_dict['all_top_rests_both_Type']
all_bottom_rests_both_Type = type_results_dict['all_bottom_rests_both_Type']

In [42]:
all_top_rests_male_Type

,Sex,Country,Country_code,Category,Sub_Category,Death_Cause,Year,Ranking,categorize,Indicator,Value
26880,Males,United Arab Emirates,ARE,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Childhood-cluster diseases,2000,1,mt,Life expectancy at age 60 (years),0.0
26884,Males,United Arab Emirates,ARE,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Diarrhoeal diseases,2000,1,mt,Life expectancy at age 60 (years),0.007737
26888,Males,United Arab Emirates,ARE,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Encephalitis,2000,1,mt,Life expectancy at age 60 (years),0.0
26892,Males,United Arab Emirates,ARE,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,HIV/AIDS,2000,1,mt,Life expectancy at age 60 (years),0.137355
26896,Males,United Arab Emirates,ARE,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,Hepatitis,2000,1,mt,Life expectancy at age 60 (years),0.086494
...,...,...,...,...,...,...,...,...,...,...,...
9971,Males,El Salvador,SLV,Noncommunicable diseases,Sense organ diseases,Macular degeneration,2021,57,mt,Life expectancy at age 60 (years),0.0
9974,Males,El Salvador,SLV,Noncommunicable diseases,Sense organ diseases,Other hearing loss,2021,57,mt,Life expectancy at age 60 (years),0.0
9977,Males,El Salvador,SLV,Noncommunicable diseases,Sense organ diseases,Other sense organ disorders,2021,57,mt,Life expectancy at age 60 (years),0.0
9980,Males,El Salvador,SLV,Noncommunicable diseases,Sense organ diseases,Other vision loss,2021,57,mt,Life expectancy at age 60 (years),0.0
9983,Males,El Salvador,SLV,Noncommunicable diseases,Sense organ diseases,Uncorrected refractive errors,2021,57,mt,Life expectancy at age 60 (years),0.0

##### Obtaining the percentage of each Death Type to get more info

In [43]:
def getting_percentage_type(variable):
    # Grouping data by 'Country', 'Year', and 'Sub_Category' and summing 'Value'
    temp_variable = variable.groupby(['Country', 'Year', 'Sub_Category'])['Value'].sum().reset_index()
    
    # Merging the original data with the grouped data on 'Country', 'Year', and 'Sub_Category'
    variable = pd.merge(temp_variable, variable, on=['Country', 'Year', 'Sub_Category'], suffixes=('', '_original'))
    
    # Creating a mask to identify where 'Value' is non-zero
    mask = variable['Value'] != 0
    
    # Calculating 'Percentage' for rows where the mask is True, as the ratio of 'Value_original' to 'Value'
    variable.loc[mask, 'Percentage'] = variable.loc[mask, 'Value_original'] / variable.loc[mask, 'Value']
    
    # Assigning 0 to 'Percentage' where the mask is False
    variable.loc[~mask, 'Percentage'] = 0
    
    # Dropping the 'Value' column as it's no longer needed
    variable = variable.drop(columns=['Value'])
    
    # Renaming 'Value_original' back to 'Value' for consistency
    variable = variable.rename(columns={'Value_original': 'Value'})
    
    # Sorting the data by 'Year' and 'Ranking' in ascending order
    variable = variable.sort_values(by=['Year', 'Ranking'], ascending=True)
    
    return variable

In [44]:
all_top_rests_male_Type = getting_percentage_type(all_top_rests_male_Type)
all_bottom_rests_male_Type = getting_percentage_type(all_bottom_rests_male_Type)
all_top_rests_female_Type = getting_percentage_type(all_top_rests_female_Type)
all_bottom_rests_female_Type = getting_percentage_type(all_bottom_rests_female_Type)
all_top_rests_both_Type = getting_percentage_type(all_top_rests_both_Type)
all_bottom_rests_both_Type = getting_percentage_type(all_bottom_rests_both_Type)

In [45]:
all_top_rests_female_Type

,Country,Year,Sub_Category,Sex,Country_code,Category,Death_Cause,Ranking,categorize,Indicator,Value,Percentage
13440,Japan,2000,Cardiovascular diseases,Females,JPN,Noncommunicable diseases,"Cardiomyopathy, myocarditis, endocarditis",1,ft,Life expectancy at age 60 (years),0.38552,0.058368
13441,Japan,2000,Cardiovascular diseases,Females,JPN,Noncommunicable diseases,Hypertensive heart disease,1,ft,Life expectancy at age 60 (years),0.048272,0.007309
13442,Japan,2000,Cardiovascular diseases,Females,JPN,Noncommunicable diseases,Ischaemic heart disease,1,ft,Life expectancy at age 60 (years),2.064651,0.312592
13443,Japan,2000,Cardiovascular diseases,Females,JPN,Noncommunicable diseases,Other circulatory diseases,1,ft,Life expectancy at age 60 (years),0.67812,0.102669
13444,Japan,2000,Cardiovascular diseases,Females,JPN,Noncommunicable diseases,Rheumatic heart disease,1,ft,Life expectancy at age 60 (years),0.072703,0.011007
...,...,...,...,...,...,...,...,...,...,...,...,...
8699,El Salvador,2021,Unintentional injuries,Females,SLV,Injuries,"Fire, heat and hot substances",57,ft,Life expectancy at age 60 (years),0.00417,0.017305
8700,El Salvador,2021,Unintentional injuries,Females,SLV,Injuries,Natural disasters,57,ft,Life expectancy at age 60 (years),0.001416,0.005877
8701,El Salvador,2021,Unintentional injuries,Females,SLV,Injuries,Other unintentional injuries,57,ft,Life expectancy at age 60 (years),0.039331,0.163236
8702,El Salvador,2021,Unintentional injuries,Females,SLV,Injuries,Poisonings,57,ft,Life expectancy at age 60 (years),0.007474,0.031019
8703,El Salvador,2021,Unintentional injuries,Females,SLV,Injuries,Road injury,57,ft,Life expectancy at age 60 (years),0.152355,0.632317

##### Now getting less detail, I want to analyze each Sub Category, by summing all the death causes

In [46]:
def summing(df):
    variable = df.groupby(['Sex', 'Country', 'Country_code', 'Category', 'Sub_Category', 'Year', 'Ranking', 'categorize', 'Indicator'])['Value'].sum().reset_index()
    variable = variable.sort_values(by = (['Category', 'Year', 'Ranking']), ascending = True)
    return variable

# Create a dictionary of datasets to process, including both male, female, and both gender categories
type_results_dict = {
    'all_top_rests_male_Type_sum': all_top_rests_male_Type,
    'all_bottom_rests_male_Type_sum': all_bottom_rests_male_Type,
    'all_top_rests_female_Type_sum': all_top_rests_female_Type,
    'all_bottom_rests_female_Type_sum': all_bottom_rests_female_Type,
    'all_top_rests_both_Type_sum': all_top_rests_both_Type,
    'all_bottom_rests_both_Type_sum': all_bottom_rests_both_Type,
}

# Process each dataset using the 'type_after_60' function and update the dictionary with the results
for key, dataset in type_results_dict.items():
    type_results_dict[key] = summing(dataset)

# Extract the processed datasets from the dictionary
all_top_rests_male_Type_sum = type_results_dict['all_top_rests_male_Type_sum']
all_bottom_rests_male_Type_sum = type_results_dict['all_bottom_rests_male_Type_sum']
all_top_rests_female_Type_sum= type_results_dict['all_top_rests_female_Type_sum']
all_bottom_rests_female_Type_sum = type_results_dict['all_bottom_rests_female_Type_sum']
all_top_rests_both_Type_sum = type_results_dict['all_top_rests_both_Type_sum']
all_bottom_rests_both_Type_sum = type_results_dict['all_bottom_rests_both_Type_sum']

In [47]:
all_bottom_rests_female_Type_sum

,Sex,Country,Country_code,Category,Sub_Category,Year,Ranking,categorize,Indicator,Value
954,Females,Djibouti,DJI,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,2000,1,fb,Life expectancy at age 60 (years),0.582719
958,Females,Djibouti,DJI,"Communicable, maternal, perinatal and nutritio...",Neonatal conditions,2000,1,fb,Life expectancy at age 60 (years),0.0
962,Females,Djibouti,DJI,"Communicable, maternal, perinatal and nutritio...",Nutritional deficiencies,2000,1,fb,Life expectancy at age 60 (years),0.018254
966,Females,Djibouti,DJI,"Communicable, maternal, perinatal and nutritio...",Respiratory Infectious,2000,1,fb,Life expectancy at age 60 (years),0.053053
144,Females,Azerbaijan,AZE,"Communicable, maternal, perinatal and nutritio...",Infectious and parasitic diseases,2000,2,fb,Life expectancy at age 60 (years),0.410803
...,...,...,...,...,...,...,...,...,...,...
3457,Females,Somalia,SOM,Noncommunicable diseases,Musculoskeletal diseases,2021,57,fb,Life expectancy at age 60 (years),0.180659
3461,Females,Somalia,SOM,Noncommunicable diseases,Neurological conditions,2021,57,fb,Life expectancy at age 60 (years),1.02711
3465,Females,Somalia,SOM,Noncommunicable diseases,Oral conditions,2021,57,fb,Life expectancy at age 60 (years),0.0
3469,Females,Somalia,SOM,Noncommunicable diseases,Respiratory diseases,2021,57,fb,Life expectancy at age 60 (years),1.913552
3473,Females,Somalia,SOM,Noncommunicable diseases,Sense organ diseases,2021,57,fb,Life expectancy at age 60 (years),0.0

In [48]:
def getting_percentage_type_sum(variable):
    temp_variable = variable.groupby(['Country', 'Year', 'Category'])['Value'].sum().reset_index()
    variable = pd.merge(temp_variable, variable, on=['Country', 'Year', 'Category'], suffixes=('', '_original'))
    mask = variable['Value'] != 0
    variable.loc[mask, 'Percentage'] = variable.loc[mask, 'Value_original'] / variable.loc[mask, 'Value']
    variable.loc[~mask, 'Percentage'] = 0

    variable = variable.drop(columns=['Value'])
    variable = variable.rename(columns={'Value_original': 'Value'})
    variable = variable.sort_values(by=['Year', 'Ranking'], ascending=True)
    return variable

In [49]:
all_top_rests_male_Type_sum = getting_percentage_type_sum(all_top_rests_male_Type_sum)
all_bottom_rests_male_Type_sum = getting_percentage_type_sum(all_bottom_rests_male_Type_sum)
all_top_rests_female_Type_sum = getting_percentage_type_sum(all_top_rests_female_Type_sum)
all_bottom_rests_female_Type_sum = getting_percentage_type_sum(all_bottom_rests_female_Type_sum)
all_top_rests_both_Type_sum = getting_percentage_type_sum(all_top_rests_both_Type_sum)
all_bottom_rests_both_Type_sum = getting_percentage_type_sum(all_bottom_rests_both_Type_sum)

In [50]:
all_bottom_rests_both_Type_sum

,Country,Year,Category,Sex,Country_code,Sub_Category,Ranking,categorize,Indicator,Value,Percentage
2934,Nigeria,2000,"Communicable, maternal, perinatal and nutritio...",Both,NGA,Infectious and parasitic diseases,1,bb,Life expectancy at age 60 (years),203.421856,0.921213
2935,Nigeria,2000,"Communicable, maternal, perinatal and nutritio...",Both,NGA,Neonatal conditions,1,bb,Life expectancy at age 60 (years),0.0,0.0
2936,Nigeria,2000,"Communicable, maternal, perinatal and nutritio...",Both,NGA,Nutritional deficiencies,1,bb,Life expectancy at age 60 (years),0.624308,0.002827
2937,Nigeria,2000,"Communicable, maternal, perinatal and nutritio...",Both,NGA,Respiratory Infectious,1,bb,Life expectancy at age 60 (years),16.773378,0.07596
2938,Nigeria,2000,Injuries,Both,NGA,Intentional injuries,1,bb,Life expectancy at age 60 (years),23.098198,0.407255
...,...,...,...,...,...,...,...,...,...,...,...
2245,Lesotho,2021,Noncommunicable diseases,Both,LSO,Musculoskeletal diseases,57,bb,Life expectancy at age 60 (years),0.025822,0.006946
2246,Lesotho,2021,Noncommunicable diseases,Both,LSO,Neurological conditions,57,bb,Life expectancy at age 60 (years),0.092147,0.024788
2247,Lesotho,2021,Noncommunicable diseases,Both,LSO,Oral conditions,57,bb,Life expectancy at age 60 (years),0.0,0.0
2248,Lesotho,2021,Noncommunicable diseases,Both,LSO,Respiratory diseases,57,bb,Life expectancy at age 60 (years),0.444601,0.119599
2249,Lesotho,2021,Noncommunicable diseases,Both,LSO,Sense organ diseases,57,bb,Life expectancy at age 60 (years),0.0,0.0