In [1]:
# Importing the file from the website
import pandas as pd
df_FAO = pd.read_csv("C://Users/Emerson Wu Li/Desktop/longevity/Food Related Dataset.csv")
df_cleaned = df_FAO.copy()
df_cleaned

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,4,Afghanistan,6123,Value,21013,Average protein supply (g/cap/day) (3-year ave...,20002002,2000-2002,g/cap/d,51.9,E,Estimated value,NaN
1,FS,Suite of Food Security Indicators,4,Afghanistan,6123,Value,21013,Average protein supply (g/cap/day) (3-year ave...,20012003,2001-2003,g/cap/d,52.5,E,Estimated value,NaN
2,FS,Suite of Food Security Indicators,4,Afghanistan,6123,Value,21013,Average protein supply (g/cap/day) (3-year ave...,20022004,2002-2004,g/cap/d,54.4,E,Estimated value,NaN
3,FS,Suite of Food Security Indicators,4,Afghanistan,6123,Value,21013,Average protein supply (g/cap/day) (3-year ave...,20032005,2003-2005,g/cap/d,54.4,E,Estimated value,NaN
4,FS,Suite of Food Security Indicators,4,Afghanistan,6123,Value,21013,Average protein supply (g/cap/day) (3-year ave...,20042006,2004-2006,g/cap/d,54.1,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50534,FS,Suite of Food Security Indicators,716,Zimbabwe,6128,Value,21056,Minimum dietary energy requirement (kcal/cap/...,2019,2019,kcal/cap/d,1740,E,Estimated value,NaN
50535,FS,Suite of Food Security Indicators,716,Zimbabwe,6128,Value,21056,Minimum dietary energy requirement (kcal/cap/...,2020,2020,kcal/cap/d,1743,E,Estimated value,NaN
50536,FS,Suite of Food Security Indicators,716,Zimbabwe,6128,Value,21056,Minimum dietary energy requirement (kcal/cap/...,2021,2021,kcal/cap/d,1747,E,Estimated value,NaN
50537,FS,Suite of Food Security Indicators,716,Zimbabwe,6128,Value,21056,Minimum dietary energy requirement (kcal/cap/...,2022,2022,kcal/cap/d,1752,E,Estimated value,NaN
50538,FS,Suite of Food Security Indicators,716,Zimbabwe,6128,Value,21056,Minimum dietary energy requirement (kcal/cap/...,2023,2023,kcal/cap/d,1757,E,Estimated value,NaN

In [2]:
# Dropping the unecessary columns 
columns_to_drop = [0, 2, 4, 5, 6, 8, 12, 13, 14]
df_cleaned = df_cleaned.drop(df_cleaned.columns[columns_to_drop], axis = 1)

new_column_names = {
    'Area': 'Country',
    'Item': 'Subject'
}
df_cleaned = df_cleaned.rename(columns = new_column_names)

# Renaming the rows for a better understanding
new_rows_names = {
    'Average protein supply (g/cap/day) (3-year average)': 'avg protein supply',
    'Number of people undernourished (million) (3-year average)': 'N. of people undernourished',
    'Prevalence of severe food insecurity in the total population (percent) (3-year average)': 'Severe food insecurity (total pop)',
    'Prevalence of severe food insecurity in the male adult population (percent) (3-year average)': 'Severe food insecurity (male adults)',
    'Prevalence of severe food insecurity in the female adult population (percent) (3-year average)': 'Severe food insecurity (female adults)',
    'Prevalence of moderate or severe food insecurity in the total population (percent) (3-year average)': 'Moderate/severe food insecurity (total pop)',
    'Prevalence of moderate or severe food insecurity in the male adult population (percent) (3-year average)': 'Moderate/severe food insecurity (male adults)',
    'Prevalence of moderate or severe food insecurity in the female adult population (percent) (3-year average)': 'Moderate/severe food insecurity (female adults)',
    'Number of severely food insecure people (million) (3-year average)': 'N. of severely food insecure people',
    'Number of severely food insecure male adults (million) (3-year average)': 'N. of severely food insecure male adults',
    'Number of severely food insecure female adults (million) (3-year average)': 'N. of severely food insecure female adults',
    'Percentage of population using at least basic drinking water services (percent)': 'Basic drinking water services',
    'Percentage of children under 5 years affected by wasting (percent)': 'Children under 5 affected by wasting',
    'Number of children under 5 years of age who are overweight (modeled estimates) (million)': 'Children under 5 overweight',
    'Prevalence of obesity in the adult population (18 years and older) (percent)': 'Obesity (adult pop)',
    'Number of obese adults (18 years and older) (million)': 'N. of obese adults',
    'Minimum dietary energy requirement  (kcal/cap/day)': 'Min dietary energy requirement'
}

# Apply the new row names to the DataFrame
df_cleaned['Subject'] = df_cleaned['Subject'].replace(new_rows_names)

# Removing these rows since is not necessary for my analysis
rows_to_drop = ['Severe food insecurity (total pop)', 'Severe food insecurity (male adults)', 'Severe food insecurity (female adults)']
df_cleaned = df_cleaned[~df_cleaned['Subject'].isin(rows_to_drop)]
df_cleaned

,Domain,Country,Subject,Year,Unit,Value
0,Suite of Food Security Indicators,Afghanistan,avg protein supply,2000-2002,g/cap/d,51.9
1,Suite of Food Security Indicators,Afghanistan,avg protein supply,2001-2003,g/cap/d,52.5
2,Suite of Food Security Indicators,Afghanistan,avg protein supply,2002-2004,g/cap/d,54.4
3,Suite of Food Security Indicators,Afghanistan,avg protein supply,2003-2005,g/cap/d,54.4
4,Suite of Food Security Indicators,Afghanistan,avg protein supply,2004-2006,g/cap/d,54.1
...,...,...,...,...,...,...
50534,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2019,kcal/cap/d,1740
50535,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2020,kcal/cap/d,1743
50536,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2021,kcal/cap/d,1747
50537,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2022,kcal/cap/d,1752
50538,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2023,kcal/cap/d,1757

In [3]:
# Filters the DataFrame to include only rows where the Subject column matches any of the provided subjects.
def category(df, subjects):
    temp_df = df.copy()
    temp_df = temp_df[temp_df['Subject'].isin(subjects)]
    temp_df = temp_df.reset_index(drop = True)
    return temp_df

# Stores lists of subjects for different categories.
dict_subjects = {
    'obesity_subjects' : ['Obesity (adult pop)', 'N. of obese adults', 'Children under 5 overweight'],
    'protein_calories_subjects' : ['avg protein supply', 'Min dietary energy requirement'],
    'food_situation_subjects' : ['N. of people undernourished', 'Basic drinking water services', 'Children under 5 affected by wasting'],
    'food_insecurity_subjects' : ['Moderate/severe food insecurity (total pop)', 'Moderate/severe food insecurity (male adults)', 'Moderate/severe food insecurity (female adults)', 'N. of severely food insecure people', 'N. of severely food insecure male adults', 
    'N. of severely food insecure female adults']
}

# Iterate over dict_subjects, apply the category function, and store the result in df_dict.
df_dict = {}
for variable, subject in dict_subjects.items():
    df_dict[variable] = category(df_cleaned, subject)

# Assign each DataFrame to a variable with a descriptive name.
df_obesity = df_dict['obesity_subjects']
df_protein_calories = df_dict['protein_calories_subjects']
df_food_situation = df_dict['food_situation_subjects']
df_food_insecurity = df_dict['food_insecurity_subjects']

In [4]:
df_protein_calories

,Domain,Country,Subject,Year,Unit,Value
0,Suite of Food Security Indicators,Afghanistan,avg protein supply,2000-2002,g/cap/d,51.9
1,Suite of Food Security Indicators,Afghanistan,avg protein supply,2001-2003,g/cap/d,52.5
2,Suite of Food Security Indicators,Afghanistan,avg protein supply,2002-2004,g/cap/d,54.4
3,Suite of Food Security Indicators,Afghanistan,avg protein supply,2003-2005,g/cap/d,54.4
4,Suite of Food Security Indicators,Afghanistan,avg protein supply,2004-2006,g/cap/d,54.1
...,...,...,...,...,...,...
8205,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2019,kcal/cap/d,1740
8206,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2020,kcal/cap/d,1743
8207,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2021,kcal/cap/d,1747
8208,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2022,kcal/cap/d,1752
8209,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2023,kcal/cap/d,1757

##### Some DataFrames, such as `df_protein_calories`, have the 'Year' column presented as a period rather than a single year. To address this, I created a function to transform these periods into a single year for consistency in the analysis.

In [5]:
# subject: If provided, only rows with this subject will be updated.
def get_middle_year(variable, subject = None):
    def calculating(period):

        # Takes a period string (e.g., '2000-2005'), splits it into start and end years, converts them to integers, and calculates the midpoint.
        start_year, end_year = map(int, period.split('-'))
        result = (start_year + end_year) // 2
        return result
    
    # If subject is provided, only rows where the Subject column matches the given subject are updated.
    if subject is None:
        variable['Year'] = variable['Year'].apply(calculating)
    else:
        variable.loc[variable['Subject'] == subject, 'Year'] = variable.loc[variable['Subject'] == subject, 'Year'].apply(calculating)
    return variable

df_protein_calories = get_middle_year(df_protein_calories, 'avg protein supply')
df_food_situation = get_middle_year(df_food_situation, 'N. of obese adults')
df_food_situation = get_middle_year(df_food_situation, 'N. of people undernourished')
df_food_insecurity = get_middle_year(df_food_insecurity)

In [6]:
df_protein_calories

,Domain,Country,Subject,Year,Unit,Value
0,Suite of Food Security Indicators,Afghanistan,avg protein supply,2001,g/cap/d,51.9
1,Suite of Food Security Indicators,Afghanistan,avg protein supply,2002,g/cap/d,52.5
2,Suite of Food Security Indicators,Afghanistan,avg protein supply,2003,g/cap/d,54.4
3,Suite of Food Security Indicators,Afghanistan,avg protein supply,2004,g/cap/d,54.4
4,Suite of Food Security Indicators,Afghanistan,avg protein supply,2005,g/cap/d,54.1
...,...,...,...,...,...,...
8205,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2019,kcal/cap/d,1740
8206,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2020,kcal/cap/d,1743
8207,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2021,kcal/cap/d,1747
8208,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2022,kcal/cap/d,1752
8209,Suite of Food Security Indicators,Zimbabwe,Min dietary energy requirement,2023,kcal/cap/d,1757

##### Some DataFrames have the 'Year' column containing string values instead of integers. To standardize this, I created a function that converts all values in the 'Year' column to integers.

In [7]:
df_obesity['Year'].apply(type)

0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
13956    <class 'str'>
13957    <class 'str'>
13958    <class 'str'>
13959    <class 'str'>
13960    <class 'str'>
Name: Year, Length: 13961, dtype: object

In [8]:
def into_int(variable, subject):

    # Convert 'Year' column to integers where 'Subject' matches the given subject
    variable.loc[variable['Subject'] == subject, 'Year'] = variable.loc[variable['Subject'] == subject, 'Year'].astype(int)
    return variable

df_obesity = into_int(df_obesity, 'Children under 5 overweight')
df_obesity = into_int(df_obesity, 'Obesity (adult pop)')
df_obesity = into_int(df_obesity,'N. of obese adults')
df_protein_calories = into_int(df_protein_calories, 'Min dietary energy requirement')
df_food_situation = into_int(df_food_situation, 'Basic drinking water services')
df_food_situation = into_int(df_food_situation, 'Children under 5 affected by wasting')

In [9]:
df_obesity['Year'].apply(type)

0        <class 'int'>
1        <class 'int'>
2        <class 'int'>
3        <class 'int'>
4        <class 'int'>
             ...
13956    <class 'int'>
13957    <class 'int'>
13958    <class 'int'>
13959    <class 'int'>
13960    <class 'int'>
Name: Year, Length: 13961, dtype: object

##### Bringing the Data Frame from another file to combine analysis

In [10]:
# Acessing the Data Frames from the Life expectancy file
file_path = 'C:/Users/Emerson Wu Li/Desktop/longevity/top_and_bottom.xlsx'
data = pd.read_excel(file_path, sheet_name=None)

# `data` is now a dictionary where the keys are the sheet names and the values are DataFrames
top_b_at_birth = data['top_b_at_birth']
bottom_b_at_birth = data['bottom_b_at_birth']
top_m_at_birth = data['top_m_at_birth']
bottom_m_at_birth = data['bottom_m_at_birth']
top_f_at_birth = data['top_f_at_birth']
bottom_f_at_birth = data['bottom_f_at_birth']
top_b_at_60 = data['top_b_at_60']
bottom_b_at_60 = data['bottom_b_at_60']
top_m_at_60 = data['top_m_at_60']
bottom_m_at_60 = data['bottom_m_at_60']
top_f_at_60 = data['top_f_at_60']
bottom_f_at_60 = data['bottom_f_at_60']

##### I am creating these lists to combine with other tables for further analysis. Each list contains countries along with their corresponding indicators, years, and categories.

In [11]:
# Extracts the countries for a specific year from a DataFrame.
# which stands for Data Frame
def top_year(which, Year):

    top = which[which['Year'] == Year]
    top = top['Country']
    return top

# Converts the countries list from top_year into a Python list.
def year_diff(whitch, year):
    list = top_year(whitch, year).to_list()
    return list

years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]


# Dictionaries to store the lists of countries for different categories and years.
list_top_b_b = {}
list_top_b_60 = {}
list_bottom_b_b = {}
list_bottom_b_60 = {}

list_top_m_b = {}
list_top_m_60 = {}
list_bottom_m_b = {}
list_bottom_m_60 = {}

list_top_f_b = {}
list_top_f_60 = {}
list_bottom_f_b = {}
list_bottom_f_60 = {}

# Iterate over the years and populate the dictionaries with lists of countries for each year and category.
for year in years:

    list_top_b_b[year] = year_diff(top_b_at_birth, year)
    list_top_b_60[year] = year_diff(top_b_at_60, year)
    list_bottom_b_b[year] = year_diff(bottom_b_at_birth, year)
    list_bottom_b_60[year] = year_diff(bottom_b_at_60, year)

    list_top_m_b[year] = year_diff(top_m_at_birth, year)
    list_top_m_60[year] = year_diff(top_m_at_60, year)
    list_bottom_m_b[year] = year_diff(bottom_m_at_birth, year)
    list_bottom_m_60[year] = year_diff(bottom_m_at_60, year)

    list_top_f_b[year] = year_diff(top_f_at_birth, year)
    list_top_f_60[year] = year_diff(top_f_at_60, year)
    list_bottom_f_b[year] = year_diff(bottom_f_at_birth, year)
    list_bottom_f_60[year] = year_diff(bottom_f_at_60, year)

##### I am creating a function to categorize all data, including sex, year, and the respective countries based on their rankings. I am also handling food insecurity separately, as it is the only category divided by sex and contains data only from 2015 to 2022.

In [12]:
def m_or_f(variable, list, sex, year):
    df = variable.copy()
    words_to_exclude_m = ['female', 'total', 'people']

    # Create a boolean mask for rows that should be included/excluded based on gender
    if sex == 'male':
        # The mask excludes rows where the 'Subject' column contains any of the words in words_to_exclude_m (e.g., 'female', 'total', 'people')
        mask = ~df['Subject'].str.contains('|'.join(words_to_exclude_m), case=False, na=False)
    elif sex == 'female':
        # For females: The mask includes rows where the 'Subject' column contains the word 'female'
        mask = df['Subject'].str.contains('female', case=False, na=False)
    else:
        print('error')
        return df 

    # Apply the mask to filter the DataFrame
    df = df[mask]

    # Filtering the DataFrame based on year and list of countries
    df = df[
        (df['Year'] == year) & 
        (df['Country'].isin(list))
    ]

    # Ensure the 'Country' column follows the specified order
    df['Country'] = pd.Categorical(df['Country'], categories=list, ordered=True)

    # Sort the DataFrame by the 'Country' column
    df = df.sort_values('Country')
    df = df.reset_index(drop=True)  
    return df

In [13]:
# Create dictionaries to store results
top_m_at_birth_food_insecurity = {}
top_m_at_60_food_insecurity = {}
bottom_m_at_birth_food_insecurity = {}
bottom_m_at_60_food_insecurity = {}

top_f_at_birth_food_insecurity = {}
top_f_at_60_food_insecurity = {}
bottom_f_at_birth_food_insecurity = {}
bottom_f_at_60_food_insecurity = {}

# List of years to iterate over
years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

for year in years:
    # Apply the m_or_f function for each year and store the results
    top_m_at_birth_food_insecurity[year] = m_or_f(df_food_insecurity, list_top_m_b[year], 'male', year)
    top_m_at_60_food_insecurity[year] = m_or_f(df_food_insecurity, list_top_m_60[year], 'male', year)
    
    bottom_m_at_birth_food_insecurity[year] = m_or_f(df_food_insecurity, list_bottom_m_b[year], 'male', year)
    bottom_m_at_60_food_insecurity[year] = m_or_f(df_food_insecurity, list_bottom_m_60[year], 'male', year)


    top_f_at_birth_food_insecurity[year] = m_or_f(df_food_insecurity, list_top_f_b[year], 'female', year)
    top_f_at_60_food_insecurity[year] = m_or_f(df_food_insecurity, list_top_f_60[year], 'female', year)

    bottom_f_at_birth_food_insecurity[year] = m_or_f(df_food_insecurity, list_bottom_f_b[year], 'female', year)
    bottom_f_at_60_food_insecurity[year] = m_or_f(df_food_insecurity, list_bottom_f_60[year], 'female', year)

# After processing, you can concatenate the DataFrames if needed
all_top_m_at_birth_food_insecurity = pd.concat(top_m_at_birth_food_insecurity.values(), ignore_index = True)
all_top_m_at_60_food_insecurity = pd.concat(top_m_at_60_food_insecurity.values(), ignore_index = True)
all_bottom_m_at_birth_food_insecurity = pd.concat(bottom_m_at_birth_food_insecurity.values(), ignore_index = True)
all_bottom_m_at_60_food_insecurity = pd.concat(bottom_m_at_60_food_insecurity.values(), ignore_index = True)


all_top_f_at_birth_food_insecurity = pd.concat(top_f_at_birth_food_insecurity.values(), ignore_index = True)
all_top_f_at_60_food_insecurity = pd.concat(top_f_at_60_food_insecurity.values(), ignore_index = True)
all_bottom_f_at_birth_food_insecurity = pd.concat(bottom_f_at_birth_food_insecurity.values(), ignore_index = True)
all_bottom_f_at_60_food_insecurity = pd.concat(bottom_f_at_60_food_insecurity.values(), ignore_index = True)

In [14]:
all_top_m_at_60_food_insecurity

,Domain,Country,Subject,Year,Unit,Value
0,Suite of Food Security Indicators,Peru,Moderate/severe food insecurity (male adults),2015,%,30.8
1,Suite of Food Security Indicators,Peru,N. of severely food insecure male adults,2015,million No,1.2
2,Suite of Food Security Indicators,Japan,Moderate/severe food insecurity (male adults),2015,%,3.3
3,Suite of Food Security Indicators,Japan,N. of severely food insecure male adults,2015,million No,0.3
4,Suite of Food Security Indicators,Australia,Moderate/severe food insecurity (male adults),2015,%,9.2
...,...,...,...,...,...,...
793,Suite of Food Security Indicators,Ecuador,N. of severely food insecure male adults,2021,million No,0.7
794,Suite of Food Security Indicators,Seychelles,N. of severely food insecure male adults,2021,million No,<0.1
795,Suite of Food Security Indicators,Seychelles,Moderate/severe food insecurity (male adults),2021,%,14.7
796,Suite of Food Security Indicators,El Salvador,Moderate/severe food insecurity (male adults),2021,%,41.8
797,Suite of Food Security Indicators,El Salvador,N. of severely food insecure male adults,2021,million No,0.3

##### The category names are structured as follows: each is divided into two partsâ€”(b, m, or f), and (t or b). Here, "b" stands for both sexes, "m" for male, and "f" for female, while "b"(for the seconde letter) stands for bottom and "t" stands for top

In [15]:
def categorizing_insecurity(variable, raw):
    # Set the 'Domain' column to 'Food Insecurity' for the given DataFrame
    variable['Domain'] = 'Food Insecurity'
    
    # Set the 'Indicator' column based on the first value of the 'Indicator' column from the 'raw' DataFrame
    variable['Indicator'] = raw['Indicator'].iloc[0]
    
    # Set the 'Category' column based on the first value of the 'categorize' column from the 'raw' DataFrame
    variable['Category'] = raw['categorize'].iloc[0]

    return variable

# Apply the categorizing_insecurity function to different DataFrames with appropriate 'raw' DataFrames
all_top_m_at_birth_food_insecurity = categorizing_insecurity(all_top_m_at_birth_food_insecurity, top_m_at_birth)
all_top_m_at_60_food_insecurity = categorizing_insecurity(all_top_m_at_60_food_insecurity, top_m_at_60)
all_bottom_m_at_birth_food_insecurity = categorizing_insecurity(all_bottom_m_at_birth_food_insecurity, bottom_m_at_birth)
all_bottom_m_at_60_food_insecurity = categorizing_insecurity(all_bottom_m_at_60_food_insecurity, bottom_m_at_60)

all_top_f_at_birth_food_insecurity = categorizing_insecurity(all_top_f_at_birth_food_insecurity, top_f_at_birth) 
all_top_f_at_60_food_insecurity = categorizing_insecurity(all_top_f_at_60_food_insecurity, top_f_at_60) 
all_bottom_f_at_birth_food_insecurity = categorizing_insecurity(all_bottom_f_at_birth_food_insecurity, bottom_f_at_birth) 
all_bottom_f_at_60_food_insecurity = categorizing_insecurity(all_bottom_f_at_60_food_insecurity, bottom_f_at_60)

In [18]:
all_top_m_at_60_food_insecurity

,Domain,Country,Subject,Year,Unit,Value,Indicator,Category
0,Food Insecurity,Peru,Moderate/severe food insecurity (male adults),2015,%,30.8,Life expectancy at age 60 (years),mt
1,Food Insecurity,Peru,N. of severely food insecure male adults,2015,million No,1.2,Life expectancy at age 60 (years),mt
2,Food Insecurity,Japan,Moderate/severe food insecurity (male adults),2015,%,3.3,Life expectancy at age 60 (years),mt
3,Food Insecurity,Japan,N. of severely food insecure male adults,2015,million No,0.3,Life expectancy at age 60 (years),mt
4,Food Insecurity,Australia,Moderate/severe food insecurity (male adults),2015,%,9.2,Life expectancy at age 60 (years),mt
...,...,...,...,...,...,...,...,...
793,Food Insecurity,Ecuador,N. of severely food insecure male adults,2021,million No,0.7,Life expectancy at age 60 (years),mt
794,Food Insecurity,Seychelles,N. of severely food insecure male adults,2021,million No,<0.1,Life expectancy at age 60 (years),mt
795,Food Insecurity,Seychelles,Moderate/severe food insecurity (male adults),2021,%,14.7,Life expectancy at age 60 (years),mt
796,Food Insecurity,El Salvador,Moderate/severe food insecurity (male adults),2021,%,41.8,Life expectancy at age 60 (years),mt
797,Food Insecurity,El Salvador,N. of severely food insecure male adults,2021,million No,0.3,Life expectancy at age 60 (years),mt

##### Now is the rest of the subject

In [16]:
# Function to filter and sort data based on country list and year
def rest(variable, country_list, year):
    df = variable.copy()  
    df = df[
        (df['Year'] == year) &  # Filter for the given year
        (df['Country'].isin(country_list))  # Filter for countries in the list
    ]

    # Ensure the 'Country' column follows the specified order
    df['Country'] = pd.Categorical(df['Country'], categories=country_list, ordered=True)

    # Sort the DataFrame by the 'Country' column and reset the index
    df = df.sort_values('Country').reset_index(drop=True)
    return df

# Define categories, positions, and years
categories = ['obesity', 'protein_calories', 'food_situation']
positions = ['top_b_b', 'top_b_60', 'bottom_b_b', 'bottom_b_60']
years = [2000, 2010, 2015, 2021]

# Initialize a nested dictionary to hold DataFrames for each category, position, and year
data_dfs = {cat: {pos: {} for pos in positions} for cat in categories}

# Loop over years, categories, and positions to populate the dictionary with filtered DataFrames
for year in years:
    for category in categories:
        for position in positions:
            list_var_name = f"list_{position}"  # Variable name for the country list
            df_var_name = f"df_{category}"  # Variable name for the DataFrame

            # Access the country list and DataFrame using globals() and handle missing values
            list_var = globals().get(list_var_name, {}).get(year, [])
            df_var = globals().get(df_var_name)

            # If the DataFrame is found, apply the 'rest' function and store the result
            if df_var is not None:
                data_dfs[category][position][year] = rest(df_var, list_var, year)

# Function to concatenate DataFrames for different years
def concat_dfs(data_dict):
    return pd.concat(data_dict.values(), ignore_index=True)

# Create a dictionary that holds the concatenated DataFrames for each category and position
all_data = {
    'obesity': {
        'top_b_b': concat_dfs(data_dfs['obesity']['top_b_b']),
        'top_b_60': concat_dfs(data_dfs['obesity']['top_b_60']),
        'bottom_b_b': concat_dfs(data_dfs['obesity']['bottom_b_b']),
        'bottom_b_60': concat_dfs(data_dfs['obesity']['bottom_b_60']),
    },
    'protein_calories': {
        'top_b_b': concat_dfs(data_dfs['protein_calories']['top_b_b']),
        'top_b_60': concat_dfs(data_dfs['protein_calories']['top_b_60']),
        'bottom_b_b': concat_dfs(data_dfs['protein_calories']['bottom_b_b']),
        'bottom_b_60': concat_dfs(data_dfs['protein_calories']['bottom_b_60']),
    },
    'food_situation': {
        'top_b_b': concat_dfs(data_dfs['food_situation']['top_b_b']),
        'top_b_60': concat_dfs(data_dfs['food_situation']['top_b_60']),
        'bottom_b_b': concat_dfs(data_dfs['food_situation']['bottom_b_b']),
        'bottom_b_60': concat_dfs(data_dfs['food_situation']['bottom_b_60']),
    }
}

In [17]:
# Access the concatenated DataFrames
all_top_at_birth_obesity = all_data['obesity']['top_b_b']
all_top_at_60_obesity = all_data['obesity']['top_b_60']
all_bottom_at_birth_obesity = all_data['obesity']['bottom_b_b']
all_bottom_at_60_obesity = all_data['obesity']['bottom_b_60']

all_top_at_birth_protein_calories = all_data['protein_calories']['top_b_b']
all_top_at_60_protein_calories = all_data['protein_calories']['top_b_60']
all_bottom_at_birth_protein_calories = all_data['protein_calories']['bottom_b_b']
all_bottom_at_60_protein_calories = all_data['protein_calories']['bottom_b_60']

all_top_at_birth_food_situation = all_data['food_situation']['top_b_b']
all_top_at_60_food_situation = all_data['food_situation']['top_b_60']
all_bottom_at_birth_food_situation = all_data['food_situation']['bottom_b_b']
all_bottom_at_60_food_situation = all_data['food_situation']['bottom_b_60']

In [21]:
all_bottom_at_birth_food_situation

,Domain,Country,Subject,Year,Unit,Value,Indicator,Category
0,Food_Situation,Sao Tome and Principe,Children under 5 affected by wasting,2000,%,NaN,Life expectancy at birth (years),bb
1,Food_Situation,Sao Tome and Principe,Basic drinking water services,2000,%,69,Life expectancy at birth (years),bb
2,Food_Situation,Yemen,Children under 5 affected by wasting,2000,%,NaN,Life expectancy at birth (years),bb
3,Food_Situation,Yemen,Basic drinking water services,2000,%,41,Life expectancy at birth (years),bb
4,Food_Situation,Mauritania,Basic drinking water services,2000,%,42,Life expectancy at birth (years),bb
...,...,...,...,...,...,...,...,...
604,Food_Situation,Central African Republic,Basic drinking water services,2021,%,36,Life expectancy at birth (years),bb
605,Food_Situation,Central African Republic,N. of people undernourished,2021,million No,1.2,Life expectancy at birth (years),bb
606,Food_Situation,Lesotho,Children under 5 affected by wasting,2021,%,NaN,Life expectancy at birth (years),bb
607,Food_Situation,Lesotho,Basic drinking water services,2021,%,74,Life expectancy at birth (years),bb
608,Food_Situation,Lesotho,N. of people undernourished,2021,million No,NaN,Life expectancy at birth (years),bb

In [19]:
def categorizing_FAO(variable, domain, raw):
    # Check the domain and assign the appropriate domain label to the 'Domain' column
    if domain == 'Obesity':
        variable['Domain'] = 'Obesity'
    elif domain == 'Protein_Calories':
        variable['Domain'] = 'Protein_Calories'
    elif domain == 'Food_Situation':
        variable['Domain'] = 'Food_Situation'
    else:
        pass  # Do nothing if the domain does not match any of the above categories

    # Assign the first value of the 'Indicator' column from the raw data to the 'Indicator' column in variable
    variable['Indicator'] = raw['Indicator'].iloc[0]
    
    # Assign the first value of the 'categorize' column from the raw data to the 'Category' column in variable
    variable['Category'] = raw['categorize'].iloc[0]
    
    return variable

In [20]:
# Obesity DataFrames
all_top_at_birth_obesity = categorizing_FAO(all_top_at_birth_obesity, 'Obesity', top_b_at_birth)
all_top_at_60_obesity = categorizing_FAO(all_top_at_60_obesity, 'Obesity', top_b_at_60)
all_bottom_at_birth_obesity = categorizing_FAO(all_bottom_at_birth_obesity, 'Obesity', bottom_b_at_birth)
all_bottom_at_60_obesity = categorizing_FAO(all_bottom_at_60_obesity, 'Obesity', bottom_b_at_60)

# Protein Calories DataFrames
all_top_at_birth_protein_calories = categorizing_FAO(all_top_at_birth_protein_calories, 'Protein_Calories', top_b_at_birth)
all_top_at_60_protein_calories = categorizing_FAO(all_top_at_60_protein_calories, 'Protein_Calories', top_b_at_60)
all_bottom_at_birth_protein_calories = categorizing_FAO(all_bottom_at_birth_protein_calories, 'Protein_Calories', bottom_b_at_birth)
all_bottom_at_60_protein_calories = categorizing_FAO(all_bottom_at_60_protein_calories, 'Protein_Calories', bottom_b_at_60)

# Food Situation DataFrames
all_top_at_birth_food_situation = categorizing_FAO(all_top_at_birth_food_situation, 'Food_Situation', top_b_at_birth)
all_top_at_60_food_situation = categorizing_FAO(all_top_at_60_food_situation, 'Food_Situation', top_b_at_60)
all_bottom_at_birth_food_situation = categorizing_FAO(all_bottom_at_birth_food_situation, 'Food_Situation', bottom_b_at_birth)
all_bottom_at_60_food_situation = categorizing_FAO(all_bottom_at_60_food_situation, 'Food_Situation', bottom_b_at_60)

##### Ranking all the Data Frame for better analysis

In [23]:
def ranking_countries(raw, dataset):
    
    variable = dataset.copy()

    # Create a mapping of (Country, Year) pairs to their corresponding ranking values from the 'raw' DataFrame
    ranking_map = raw.set_index(['Country', 'Year'])['Ranking'].to_dict()

    # Set the index of 'variable' DataFrame to (Country, Year)
    variable = variable.set_index(['Country', 'Year'])

    # Map the rankings from 'ranking_map' to the 'variable' DataFrame using the (Country, Year) pairs
    variable['Ranking'] = variable.index.map(ranking_map)

    variable.reset_index(inplace=True)

    return variable

In [24]:
# Dictionary of variables with raw datasets and the datasets to update
result_dict = {
    'all_top_at_birth_obesity': (top_b_at_birth, all_top_at_birth_obesity),
    'all_top_at_60_obesity': (top_b_at_60, all_top_at_60_obesity),
    'all_bottom_at_birth_obesity': (bottom_b_at_birth, all_bottom_at_birth_obesity),
    'all_bottom_at_60_obesity': (bottom_b_at_60, all_bottom_at_60_obesity),
    
    'all_top_at_birth_protein_calories': (top_b_at_birth, all_top_at_birth_protein_calories),
    'all_top_at_60_protein_calories': (top_b_at_60, all_top_at_60_protein_calories),
    'all_bottom_at_birth_protein_calories': (bottom_b_at_birth, all_bottom_at_birth_protein_calories),
    'all_bottom_at_60_protein_calories': (bottom_b_at_60, all_bottom_at_60_protein_calories),
    
    'all_top_at_birth_food_situation': (top_b_at_birth, all_top_at_birth_food_situation),
    'all_top_at_60_food_situation': (top_b_at_60, all_top_at_60_food_situation),
    'all_bottom_at_birth_food_situation': (bottom_b_at_birth, all_bottom_at_birth_food_situation),
    'all_bottom_at_60_food_situation': (bottom_b_at_60, all_bottom_at_60_food_situation),
    
    'all_top_m_at_birth_food_insecurity': (top_m_at_birth, all_top_m_at_birth_food_insecurity),
    'all_top_m_at_60_food_insecurity': (top_m_at_60, all_top_m_at_60_food_insecurity),
    'all_bottom_m_at_birth_food_insecurity': (bottom_m_at_birth, all_bottom_m_at_birth_food_insecurity),
    'all_bottom_m_at_60_food_insecurity': (bottom_m_at_60, all_bottom_m_at_60_food_insecurity),

    'all_top_f_at_birth_food_insecurity': (top_f_at_birth, all_top_f_at_birth_food_insecurity),
    'all_top_f_at_60_food_insecurity': (top_f_at_60, all_top_f_at_60_food_insecurity),
    'all_bottom_f_at_birth_food_insecurity': (bottom_f_at_birth, all_bottom_f_at_birth_food_insecurity),
    'all_bottom_f_at_60_food_insecurity': (bottom_f_at_60, all_bottom_f_at_60_food_insecurity)
}

# Applying the ranking function to all datasets
for key, (raw, dataset) in result_dict.items():
    result_dict[key] = ranking_countries(raw, dataset)

# Assign the updated variables back to their original names
all_top_at_birth_obesity = result_dict['all_top_at_birth_obesity']
all_top_at_60_obesity = result_dict['all_top_at_60_obesity']
all_bottom_at_birth_obesity = result_dict['all_bottom_at_birth_obesity']
all_bottom_at_60_obesity = result_dict['all_bottom_at_60_obesity']

all_top_at_birth_protein_calories = result_dict['all_top_at_birth_protein_calories']
all_top_at_60_protein_calories = result_dict['all_top_at_60_protein_calories']
all_bottom_at_birth_protein_calories = result_dict['all_bottom_at_birth_protein_calories']
all_bottom_at_60_protein_calories = result_dict['all_bottom_at_60_protein_calories']

all_top_at_birth_food_situation = result_dict['all_top_at_birth_food_situation']
all_top_at_60_food_situation = result_dict['all_top_at_60_food_situation']
all_bottom_at_birth_food_situation = result_dict['all_bottom_at_birth_food_situation']
all_bottom_at_60_food_situation = result_dict['all_bottom_at_60_food_situation']

all_top_m_at_birth_food_insecurity = result_dict['all_top_m_at_birth_food_insecurity']
all_top_m_at_60_food_insecurity = result_dict['all_top_m_at_60_food_insecurity']
all_bottom_m_at_birth_food_insecurity = result_dict['all_bottom_m_at_birth_food_insecurity']
all_bottom_m_at_60_food_insecurity = result_dict['all_bottom_m_at_60_food_insecurity']

all_top_f_at_birth_food_insecurity = result_dict['all_top_f_at_birth_food_insecurity']
all_top_f_at_60_food_insecurity = result_dict['all_top_f_at_60_food_insecurity']
all_bottom_f_at_birth_food_insecurity = result_dict['all_bottom_f_at_birth_food_insecurity']
all_bottom_f_at_60_food_insecurity = result_dict['all_bottom_f_at_60_food_insecurity']

In [26]:
all_top_at_60_obesity

,Country,Year,Domain,Subject,Unit,Value,Indicator,Category,Ranking
0,Japan,2000,Obesity,N. of obese adults,million No,2.7,Life expectancy at age 60 (years),bt,1
1,Japan,2000,Obesity,Obesity (adult pop),%,2.6,Life expectancy at age 60 (years),bt,1
2,Japan,2000,Obesity,Children under 5 overweight,million No,0.1,Life expectancy at age 60 (years),bt,1
3,Nicaragua,2000,Obesity,Children under 5 overweight,million No,<0.1,Life expectancy at age 60 (years),bt,2
4,Nicaragua,2000,Obesity,Obesity (adult pop),%,19.7,Life expectancy at age 60 (years),bt,2
...,...,...,...,...,...,...,...,...,...
679,El Salvador,2021,Obesity,N. of obese adults,million No,1.3,Life expectancy at age 60 (years),bt,56
680,El Salvador,2021,Obesity,Children under 5 overweight,million No,<0.1,Life expectancy at age 60 (years),bt,56
681,Saint Vincent and the Grenadines,2021,Obesity,Children under 5 overweight,million No,NaN,Life expectancy at age 60 (years),bt,57
682,Saint Vincent and the Grenadines,2021,Obesity,Obesity (adult pop),%,32.5,Life expectancy at age 60 (years),bt,57
683,Saint Vincent and the Grenadines,2021,Obesity,N. of obese adults,million No,<0.1,Life expectancy at age 60 (years),bt,57

In [27]:
all_top_m_at_60_food_insecurity

,Country,Year,Domain,Subject,Unit,Value,Indicator,Category,Ranking
0,Peru,2015,Food Insecurity,Moderate/severe food insecurity (male adults),%,30.8,Life expectancy at age 60 (years),mt,1
1,Peru,2015,Food Insecurity,N. of severely food insecure male adults,million No,1.2,Life expectancy at age 60 (years),mt,1
2,Japan,2015,Food Insecurity,Moderate/severe food insecurity (male adults),%,3.3,Life expectancy at age 60 (years),mt,2
3,Japan,2015,Food Insecurity,N. of severely food insecure male adults,million No,0.3,Life expectancy at age 60 (years),mt,2
4,Australia,2015,Food Insecurity,Moderate/severe food insecurity (male adults),%,9.2,Life expectancy at age 60 (years),mt,3
...,...,...,...,...,...,...,...,...,...
793,Ecuador,2021,Food Insecurity,N. of severely food insecure male adults,million No,0.7,Life expectancy at age 60 (years),mt,55
794,Seychelles,2021,Food Insecurity,N. of severely food insecure male adults,million No,<0.1,Life expectancy at age 60 (years),mt,56
795,Seychelles,2021,Food Insecurity,Moderate/severe food insecurity (male adults),%,14.7,Life expectancy at age 60 (years),mt,56
796,El Salvador,2021,Food Insecurity,Moderate/severe food insecurity (male adults),%,41.8,Life expectancy at age 60 (years),mt,57
797,El Salvador,2021,Food Insecurity,N. of severely food insecure male adults,million No,0.3,Life expectancy at age 60 (years),mt,57