In [1]:
# Importing the file from the website
import pandas as pd
df_Life_Expectancy = pd.read_csv("C://Users/Emerson Wu Li/Desktop/longevity/life expectancy at birth and at age 60.csv")
df_cleaned = df_Life_Expectancy.copy()
df_cleaned

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,47.80,NaN,49.70,48.7 [47.8-49.7],NaN,NaN,EN,2024-08-01T16:00:00.000Z
1,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2021,...,NaN,NaN,48.45,NaN,50.92,49.6 [48.5-50.9],NaN,NaN,EN,2024-08-01T16:00:00.000Z
2,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,50.49,NaN,52.57,51.5 [50.5-52.6],NaN,NaN,EN,2024-08-01T16:00:00.000Z
3,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,SWZ,Eswatini,Year,2021,...,NaN,NaN,50.73,NaN,52.82,51.6 [50.7-52.8],NaN,NaN,EN,2024-08-01T16:00:00.000Z
4,WHOSIS_000001,Life expectancy at birth (years),text,EMR,Eastern Mediterranean,Country,SOM,Somalia,Year,2021,...,NaN,NaN,50.62,NaN,53.10,51.7 [50.6-53.1],NaN,NaN,EN,2024-08-01T16:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24415,WHOSIS_000015,Life expectancy at age 60 (years),text,EUR,Europe,Country,CHE,Switzerland,Year,2000,...,NaN,NaN,24.78,NaN,24.87,24.8 [24.8-24.9],NaN,NaN,EN,2024-08-01T16:00:00.000Z
24416,WHOSIS_000015,Life expectancy at age 60 (years),text,WPR,Western Pacific,Country,AUS,Australia,Year,2000,...,NaN,NaN,24.79,NaN,24.91,24.9 [24.8-24.9],NaN,NaN,EN,2024-08-01T16:00:00.000Z
24417,WHOSIS_000015,Life expectancy at age 60 (years),text,EUR,Europe,Country,FRA,France,Year,2000,...,NaN,NaN,25.24,NaN,25.33,25.3 [25.2-25.3],NaN,NaN,EN,2024-08-01T16:00:00.000Z
24418,WHOSIS_000015,Life expectancy at age 60 (years),text,AMR,Americas,Country,NIC,Nicaragua,Year,2000,...,NaN,NaN,25.48,NaN,25.72,25.6 [25.5-25.7],NaN,NaN,EN,2024-08-01T16:00:00.000Z
24419,WHOSIS_000015,Life expectancy at age 60 (years),text,WPR,Western Pacific,Country,JPN,Japan,Year,2000,...,NaN,NaN,27.02,NaN,27.11,27.1 [27.0-27.1],NaN,NaN,EN,2024-08-01T16:00:00.000Z

In [2]:
# Dropping the uncessary columns not needed for analysis
columns_to_drop = [0, 2, 5, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 29, 30, 31, 32, 33]
df_cleaned = df_cleaned.drop(df_cleaned.columns[columns_to_drop], axis = 1)

# Renaming columns for better understanding
new_column_names = {
    'ParentLocationCode': 'Parent_Location_Code',
    'ParentLocation	': 'Parent_Location	',
    'SpatialDimValueCode': 'Country_Code',
    'Location': 'Country',
    'Period': 'Year',
    'Dim1': 'Sex',
    'FactValueNumeric': 'Year_Expected',
    'FactValueNumericLow': 'Min_Year_Expected',
    'FactValueNumericHigh': 'Max_Year_Expected'
}
df_cleaned = df_cleaned.rename(columns = new_column_names)

# Creating a Range Year Expected column with the Min and Max year expected values, later dropping those columns
df_cleaned['Range_Year_Expected'] = df_cleaned['Min_Year_Expected'].astype(str) + ' ' + '-' + ' ' + df_cleaned['Max_Year_Expected'].astype(str)
columns_to_drop = [8, 9]
df_cleaned = df_cleaned.drop(df_cleaned.columns[columns_to_drop], axis = 1)
df_cleaned = df_cleaned.sort_values(['Country', 'Sex', 'Year', 'Indicator'], ascending=[True, True, False, False])
df_cleaned = df_cleaned.reset_index().drop(columns = 'index')
df_cleaned

,Indicator,Parent_Location_Code,ParentLocation,Country_Code,Country,Year,Sex,Year_Expected,Range_Year_Expected
0,Life expectancy at birth (years),EMR,Eastern Mediterranean,AFG,Afghanistan,2021,Both sexes,59.13,58.35 - 59.85
1,Life expectancy at age 60 (years),EMR,Eastern Mediterranean,AFG,Afghanistan,2021,Both sexes,13.68,13.17 - 14.2
2,Life expectancy at birth (years),EMR,Eastern Mediterranean,AFG,Afghanistan,2020,Both sexes,60.49,59.76 - 61.48
3,Life expectancy at age 60 (years),EMR,Eastern Mediterranean,AFG,Afghanistan,2020,Both sexes,13.78,13.12 - 14.43
4,Life expectancy at birth (years),EMR,Eastern Mediterranean,AFG,Afghanistan,2019,Both sexes,61.22,60.26 - 62.16
...,...,...,...,...,...,...,...,...,...
24415,Life expectancy at age 60 (years),EMR,Eastern Mediterranean,PSE,"occupied Palestinian territory, including east...",2002,Male,15.78,15.55 - 16.07
24416,Life expectancy at birth (years),EMR,Eastern Mediterranean,PSE,"occupied Palestinian territory, including east...",2001,Male,65.75,65.38 - 66.27
24417,Life expectancy at age 60 (years),EMR,Eastern Mediterranean,PSE,"occupied Palestinian territory, including east...",2001,Male,15.93,15.66 - 16.29
24418,Life expectancy at birth (years),EMR,Eastern Mediterranean,PSE,"occupied Palestinian territory, including east...",2000,Male,66.74,66.35 - 67.19
24419,Life expectancy at age 60 (years),EMR,Eastern Mediterranean,PSE,"occupied Palestinian territory, including east...",2000,Male,16.03,15.76 - 16.36

#### In this part of the analysis, I am focusing on identifying the top 30% and bottom 30% of countries based on life expectancy. The analysis considers two types of life expectancy: life expectancy at birth and life expectancy at age 60.

In [3]:
def thirty_percent_life_expectancy(df, sex, indicator, top_or_bottom):
    # Getting the 30% value
    number_of_countries = (df['Country'].nunique())
    calculating = (100/30)
    thirty_percent = round(number_of_countries / calculating) + 1

    result_df = pd.DataFrame()

    # Iterating over the years from 2021 to 2000
    for year in range(2021, 1999, -1):

        # Filtering for Indicator, sex and year each to different Data Frame
        temp_df = df[df['Indicator'] == indicator]
        temp_df = temp_df[(temp_df['Sex'] == sex) & (temp_df['Year'] == year)]
        temp_df = temp_df.sort_values(by = 'Year_Expected', ascending = False).reset_index().drop(columns = 'index')

        # Divided by top and bottom, therefore I used the if statement: top = head,  bottom = tail
        if top_or_bottom == 'top':
            temp_result = temp_df.head(thirty_percent)
        elif top_or_bottom == 'bottom':
            temp_result = temp_df.tail(thirty_percent)
        else:
            print('error')
    
        result_df = pd.concat([result_df, temp_result])


    return result_df

##### The variable names are structured as follows: each is divided into three parts—(top or bottom), (b, m, or f), and (birth or 60). Here, "b" stands for both sexes, "m" for male, and "f" for female, while "birth" refers to life expectancy at birth and "60" refers to life expectancy at age 60.

In [4]:
# Define the parameters for the function calls in a list of tuples
parameters = [
    ('Both sexes', 'Life expectancy at birth (years)', 'top', 'top_b_at_birth_'),
    ('Both sexes', 'Life expectancy at birth (years)', 'bottom', 'bottom_b_at_birth_'),
    ('Both sexes', 'Life expectancy at age 60 (years)', 'top', 'top_b_at_60_'),
    ('Both sexes', 'Life expectancy at age 60 (years)', 'bottom', 'bottom_b_at_60_'),
    ('Male', 'Life expectancy at birth (years)', 'top', 'top_m_at_birth_'),
    ('Male', 'Life expectancy at birth (years)', 'bottom', 'bottom_m_at_birth_'),
    ('Male', 'Life expectancy at age 60 (years)', 'top', 'top_m_at_60_'),
    ('Male', 'Life expectancy at age 60 (years)', 'bottom', 'bottom_m_at_60_'),
    ('Female', 'Life expectancy at birth (years)', 'top', 'top_f_at_birth_'),
    ('Female', 'Life expectancy at birth (years)', 'bottom', 'bottom_f_at_birth_'),
    ('Female', 'Life expectancy at age 60 (years)', 'top', 'top_f_at_60_'),
    ('Female', 'Life expectancy at age 60 (years)', 'bottom', 'bottom_f_at_60_'),
]

# Create a dictionary to store the results
results = {}

# Loop through the parameters and call the function
for sex, indicator, top_or_bottom, var_name in parameters:
    results[var_name] = thirty_percent_life_expectancy(df_cleaned, sex, indicator, top_or_bottom)

# Assigning each result to its respective variable name
top_b_at_birth_ = results['top_b_at_birth_']
bottom_b_at_birth_ = results['bottom_b_at_birth_']
top_b_at_60_ = results['top_b_at_60_']
bottom_b_at_60_ = results['bottom_b_at_60_']
top_m_at_birth_ = results['top_m_at_birth_']
bottom_m_at_birth_ = results['bottom_m_at_birth_']
top_m_at_60_ = results['top_m_at_60_']
bottom_m_at_60_ = results['bottom_m_at_60_']
top_f_at_birth_ = results['top_f_at_birth_']
bottom_f_at_birth_ = results['bottom_f_at_birth_']
top_f_at_60_ = results['top_f_at_60_']
bottom_f_at_60_ = results['bottom_f_at_60_']

In [7]:
# An example: bottom, both sexes, Life expectancy at age 60
bottom_b_at_60_

,Indicator,Parent_Location_Code,ParentLocation,Country_Code,Country,Year,Sex,Year_Expected,Range_Year_Expected
128,Life expectancy at age 60 (years),EUR,Europe,GEO,Georgia,2021,Both sexes,16.80,16.73 - 16.88
129,Life expectancy at age 60 (years),EUR,Europe,BGR,Bulgaria,2021,Both sexes,16.79,16.67 - 16.94
130,Life expectancy at age 60 (years),AFR,Africa,CIV,Cote d'Ivoire,2021,Both sexes,16.77,16.02 - 17.45
131,Life expectancy at age 60 (years),AFR,Africa,LBR,Liberia,2021,Both sexes,16.76,16.07 - 17.48
132,Life expectancy at age 60 (years),WPR,Western Pacific,KHM,Cambodia,2021,Both sexes,16.76,16.19 - 17.36
...,...,...,...,...,...,...,...,...,...
180,Life expectancy at age 60 (years),AFR,Africa,ZMB,Zambia,2000,Both sexes,12.70,12.27 - 13.07
181,Life expectancy at age 60 (years),AFR,Africa,RWA,Rwanda,2000,Both sexes,12.68,12.4 - 12.93
182,Life expectancy at age 60 (years),AFR,Africa,SWZ,Eswatini,2000,Both sexes,12.63,12.03 - 13.26
183,Life expectancy at age 60 (years),EMR,Eastern Mediterranean,SOM,Somalia,2000,Both sexes,12.35,11.88 - 12.86
184,Life expectancy at age 60 (years),AFR,Africa,CAF,Central African Republic,2000,Both sexes,11.13,10.63 - 11.59

##### The category names are structured as follows: each is divided into two parts—(b, m, or f), and (t or b). Here, "b" stands for both sexes, "m" for male, and "f" for female, while "b"(for the seconde letter) stands for bottom and "t" stands for top

In [8]:
def separating(variable, sex, types, years_expected):
    
    # I got all the minimum values from the top Data Frame, and created an if statement to categorize every Data Frame
    def categorize_row(row):
        if types == 'Life expectancy at birth (years)':
            if row['Sex'] == 'Both sexes' and row['Year_Expected'] >= 73.40:
                return 'bt'
            elif row['Sex'] == 'Both sexes' and row['Year_Expected'] < 73.40:
                return 'bb'
            elif row['Sex'] == 'Male' and row['Year_Expected'] >= 70.68:
                return 'mt'
            elif row['Sex'] == 'Male' and row['Year_Expected'] < 70.68:
                return 'mb'
            elif row['Sex'] == 'Female' and row['Year_Expected'] >= 76.61:
                return 'ft'
            elif row['Sex'] == 'Female' and row['Year_Expected'] < 76.61:
                return 'fb'
        
        if types == 'Life expectancy at age 60 (years)':
            if row['Sex'] == 'Both sexes' and row['Year_Expected'] >= 20.05:
                return 'bt'
            elif row['Sex'] == 'Both sexes' and row['Year_Expected'] < 20.05:
                return 'bb'
            elif row['Sex'] == 'Male' and row['Year_Expected'] >= 18.45:
                return 'mt'
            elif row['Sex'] == 'Male' and row['Year_Expected'] < 18.45:
                return 'mb'
            elif row['Sex'] == 'Female' and row['Year_Expected'] >= 21.37:
                return 'ft'
            elif row['Sex'] == 'Female' and row['Year_Expected'] < 21.37:
                return 'fb'
        
        return 'unknown'  

   
    variable['categorize'] = variable.apply(categorize_row, axis=1)
    
    return variable

In [9]:
# Using the funtion to assign all the variables
top_b_at_birth_ = separating(top_b_at_birth_, 'Both sexes', 'Life expectancy at birth (years)', top_b_at_birth_['Year_Expected'])
bottom_b_at_birth_ = separating(bottom_b_at_birth_, 'Both sexes', 'Life expectancy at birth (years)', bottom_b_at_birth_['Year_Expected'])
top_m_at_birth_ = separating(top_m_at_birth_, 'Male', 'Life expectancy at birth (years)', top_m_at_birth_['Year_Expected'])
bottom_m_at_birth_ = separating(bottom_m_at_birth_, 'Male', 'Life expectancy at birth (years)', bottom_m_at_birth_['Year_Expected'])
top_f_at_birth_ = separating(top_f_at_birth_, 'Female', 'Life expectancy at birth (years)', top_f_at_birth_['Year_Expected'])
bottom_f_at_birth_ = separating(bottom_f_at_birth_, 'Female', 'Life expectancy at birth (years)', bottom_f_at_birth_['Year_Expected'])
top_b_at_60_ = separating(top_b_at_60_, 'Both sexes', 'Life expectancy at age 60 (years)', top_b_at_60_['Year_Expected'])
bottom_b_at_60_ = separating(bottom_b_at_60_, 'Both sexes', 'Life expectancy at age 60 (years)', bottom_b_at_60_['Year_Expected'])
top_m_at_60_ = separating(top_m_at_60_, 'Male', 'Life expectancy at age 60 (years)', top_m_at_60_['Year_Expected'])
bottom_m_at_60_ = separating(bottom_m_at_60_, 'Male', 'Life expectancy at age 60 (years)', bottom_m_at_60_['Year_Expected'])
top_f_at_60_ = separating(top_f_at_60_, 'Female', 'Life expectancy at age 60 (years)', top_f_at_60_['Year_Expected'])
bottom_f_at_60_ = separating(bottom_f_at_60_, 'Female', 'Life expectancy at age 60 (years)', bottom_f_at_60_['Year_Expected'])

In [10]:
# For example: mt stands for male top, and the indicator points that this Data Frame is Life expectancy at birth
top_m_at_birth_

,Indicator,Parent_Location_Code,ParentLocation,Country_Code,Country,Year,Sex,Year_Expected,Range_Year_Expected,categorize
0,Life expectancy at birth (years),EUR,Europe,ISR,Israel,2021,Male,82.39,82.33 - 82.52,mt
1,Life expectancy at birth (years),WPR,Western Pacific,JPN,Japan,2021,Male,81.71,81.65 - 81.77,mt
2,Life expectancy at birth (years),WPR,Western Pacific,SGP,Singapore,2021,Male,81.58,81.53 - 81.68,mt
3,Life expectancy at birth (years),EUR,Europe,NOR,Norway,2021,Male,81.50,81.48 - 81.6,mt
4,Life expectancy at birth (years),EUR,Europe,CHE,Switzerland,2021,Male,81.48,81.45 - 81.57,mt
...,...,...,...,...,...,...,...,...,...,...
52,Life expectancy at birth (years),EUR,Europe,MKD,North Macedonia,2000,Male,70.81,70.66 - 71.01,mt
53,Life expectancy at birth (years),EUR,Europe,MNE,Montenegro,2000,Male,70.79,70.62 - 71.04,mt
54,Life expectancy at birth (years),WPR,Western Pacific,MYS,Malaysia,2000,Male,70.70,70.65 - 70.8,mt
55,Life expectancy at birth (years),AMR,Americas,URY,Uruguay,2000,Male,70.69,70.61 - 70.84,mt
56,Life expectancy at birth (years),EUR,Europe,ALB,Albania,2000,Male,70.68,70.25 - 71.1,mt

In [11]:
# Creating a Ranking column for better analysis 
def ranking(dataset):
    variable = dataset.copy()

    # Groups the originals Data Frames by the 'Year' column,  cumulative count of each row within its group, starting by 1 instead of 0.
    variable['Ranking'] = variable.groupby('Year').cumcount() + 1

    # Merging the original Data Frame into a new one
    variable = pd.merge(
    dataset,
    variable[['Indicator', 'Parent_Location_Code', 'ParentLocation', 'Country_Code', 'Country', 'Year', 'Sex', 'Year_Expected', 'Range_Year_Expected', 'Ranking']], 
    on=['Indicator', 'Parent_Location_Code', 'ParentLocation', 'Country_Code', 'Country', 'Year', 'Sex', 'Year_Expected', 'Range_Year_Expected'], 
    how='left'
)
    variable = variable.reset_index().drop(columns = 'index')
    return variable

In [12]:
# Assigning the new variable
result_dict = {
    'top_b_at_birth': top_b_at_birth_,
    'bottom_b_at_birth': bottom_b_at_birth_,
    'top_m_at_birth': top_m_at_birth_,
    'bottom_m_at_birth': bottom_m_at_birth_,
    'top_f_at_birth': top_f_at_birth_,
    'bottom_f_at_birth': bottom_f_at_birth_,
    'top_b_at_60': top_b_at_60_,
    'bottom_b_at_60': bottom_b_at_60_,
    'top_m_at_60': top_m_at_60_,
    'bottom_m_at_60': bottom_m_at_60_,
    'top_f_at_60': top_f_at_60_,
    'bottom_f_at_60': bottom_f_at_60_
}

# This loop goes through each key-value pair in the result_dict 
for key, dataset in result_dict.items():
    result_dict[key] = ranking(dataset)

# The result of the ranking() function is then reassigned back to the dictionary, updating the values with the ranked data.
top_b_at_birth = result_dict['top_b_at_birth']
bottom_b_at_birth = result_dict['bottom_b_at_birth']
top_m_at_birth = result_dict['top_m_at_birth']
bottom_m_at_birth = result_dict['bottom_m_at_birth']
top_f_at_birth = result_dict['top_f_at_birth']
bottom_f_at_birth = result_dict['bottom_f_at_birth']
top_b_at_60 = result_dict['top_b_at_60']
bottom_b_at_60 = result_dict['bottom_b_at_60']
top_m_at_60 = result_dict['top_m_at_60']
bottom_m_at_60 = result_dict['bottom_m_at_60']
top_f_at_60 = result_dict['top_f_at_60']
bottom_f_at_60 = result_dict['bottom_f_at_60']

In [16]:
# An example:
top_f_at_60[(top_f_at_60['Year'] == 2021)].head(20)

,Indicator,Parent_Location_Code,ParentLocation,Country_Code,Country,Year,Sex,Year_Expected,Range_Year_Expected,categorize,Ranking
0,Life expectancy at age 60 (years),WPR,Western Pacific,JPN,Japan,2021,Female,28.85,28.85 - 28.89,ft,1
1,Life expectancy at age 60 (years),WPR,Western Pacific,KOR,Republic of Korea,2021,Female,28.38,28.36 - 28.47,ft,2
2,Life expectancy at age 60 (years),WPR,Western Pacific,SGP,Singapore,2021,Female,27.90,27.86 - 27.98,ft,3
3,Life expectancy at age 60 (years),EUR,Europe,ESP,Spain,2021,Female,26.98,26.98 - 27.04,ft,4
4,Life expectancy at age 60 (years),WPR,Western Pacific,AUS,Australia,2021,Female,26.88,26.88 - 26.93,ft,5
5,Life expectancy at age 60 (years),EUR,Europe,FRA,France,2021,Female,26.80,26.79 - 26.85,ft,6
6,Life expectancy at age 60 (years),EUR,Europe,CHE,Switzerland,2021,Female,26.69,26.66 - 26.77,ft,7
7,Life expectancy at age 60 (years),AMR,Americas,PRI,Puerto Rico,2021,Female,26.39,25.98 - 26.9,ft,8
8,Life expectancy at age 60 (years),WPR,Western Pacific,NZL,New Zealand,2021,Female,26.30,26.25 - 26.38,ft,9
9,Life expectancy at age 60 (years),EUR,Europe,LUX,Luxembourg,2021,Female,26.28,nan - nan,ft,10
10,Life expectancy at age 60 (years),AMR,Americas,CAN,Canada,2021,Female,26.21,26.19 - 26.27,ft,11
11,Life expectancy at age 60 (years),EUR,Europe,ITA,Italy,2021,Female,26.01,26.01 - 26.06,ft,12
12,Life expectancy at age 60 (years),EUR,Europe,SWE,Sweden,2021,Female,25.92,25.67 - 26.3,ft,13
13,Life expectancy at age 60 (years),EUR,Europe,FIN,Finland,2021,Female,25.90,25.86 - 25.99,ft,14
14,Life expectancy at age 60 (years),EUR,Europe,PRT,Portugal,2021,Female,25.85,25.82 - 25.92,ft,15
15,Life expectancy at age 60 (years),EUR,Europe,NOR,Norway,2021,Female,25.81,25.77 - 25.91,ft,16
16,Life expectancy at age 60 (years),EUR,Europe,ISL,Iceland,2021,Female,25.68,nan - nan,ft,17
17,Life expectancy at age 60 (years),EUR,Europe,CYP,Cyprus,2021,Female,25.66,25.44 - 25.92,ft,18
18,Life expectancy at age 60 (years),EUR,Europe,MLT,Malta,2021,Female,25.66,25.51 - 25.87,ft,19
19,Life expectancy at age 60 (years),EUR,Europe,BEL,Belgium,2021,Female,25.64,25.63 - 25.71,ft,20